---
title: About Us
description: Description of About Us
---

<section class="o-flex" role="main" id="blog">
	<main id="content" class="o-flex o-page-content" role="main">
		<div class="o-container">
			<h1 class="u-text-blue">About Us</h1>
			<p>Originally established in 1985 by D.D.S. Enrique Jimenez and now located in Los Algodones, Mexico, Sani Dental Group has become one of the most prestigious dental clinics in Mexico. Throughout the years, Sani Dental Group has acquired vast experience and our staff members have perfected their skills in each of their individual dental fields.</p>
			<p>Sani Dental Group offers you a wide range of specialists, because we believe that your dental needs should be treated by the best dentists in town. That’s why our doctors have specialized in Laser dentistry, Oral Surgery, Dental Implantology, Cosmetic Dentistry, Endodontics, Periodontics, Health services administration, among other dental treatments you may need. When visiting our clinic, your dental treatment can be performed by one, two, three, or more doctors.</p>
			<h3 class="u-text-dark-blue">Why Us</h3>
			<p>Whether you need a complex or a simple surgery, Sani Dental Group is here to take care of your needs. With more than 30 dentists and experience ranging from 5 to 30 years, we guarantee that we have the professional dentist you need. Also, our facilities have earned multiple awards (MTA, ADA, etc.), and our staff members are constantly updating their skills.</p>
			<p>Sani Dental Group offers everything you need in one place:</p>
			<div class="o-flex o-flex--middle u-mb2">
				<div class="c-about-us-img">
					<img src="https://sanidentalgroup.com/static/img/icon-lodging.png" alt="">
				</div>
				<div class="c-about-us-text">
					<p class="u-mb0 u-p1">We assist you with the <b class="u-text-aqua">setup of your trip and lodging.</b></p>
				</div>
				<div class="c-about-us-img">
					<img src="https://sanidentalgroup.com/static/img/icon-shuttle.png" alt="">
				</div>
				<div class="c-about-us-text">
					<p class="u-mb0 u-p1">We offer our patients <b class="u-text-aqua">free shuttle services</b> from Airport/Border to our clinics.</p>
				</div>
				<div class="c-about-us-img">
					<img src="https://sanidentalgroup.com/static/img/icon-payment.png" alt="">
				</div>
				<div class="c-about-us-text">
					<p class="u-mb0 u-p1">We accept all forms of <b class="u-text-aqua">dollar payment</b> such as cash, personal and travelers’ checks, and/or credit cards.</p>
				</div>
				<div class="c-about-us-img">
					<img src="https://sanidentalgroup.com/static/img/icon-warranty.png" alt="">
				</div>
				<div class="c-about-us-text">
					<p class="u-mb0 u-p1">All our dental work has up to <b class="u-text-aqua">5 year full warranty.</b></p>
				</div>
			</div>
			<h3 class="u-text-dark-blue">Technology</h3>
			<p>In addition to the professional staff, many certifications, and continuous education; our facilities are equipped with counting-edge technologies.</p>
			<div class="o-flex u-mb2">
				<div class="c-about-us-techonology">
					<img src="https://sanidentalgroup.com/static/img/imagen-technology-1.jpg" alt="">
				</div>
				<div class="c-about-us-techonology">
					<img src="https://sanidentalgroup.com/static/img/imagen-technology-2.jpg" alt="">
				</div>
				<div class="c-about-us-techonology">
					<img src="https://sanidentalgroup.com/static/img/cover-home.jpg" alt="">
				</div>
			</div>
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-contact}}
	</aside><!-- #sidebar -->
</section>