---
title: Careers
description: Description of Careers
---

<section class="o-flex" role="main" id="free-quote">
	<main id="content" class="o-page-content" role="main">
		<div class="o-container">
			<h1 class="u-text-blue">Careers</h1>
			<p class="u-mb2">At Sani Dental Group we are proud to have the best team to offer world class service to our patients and of course, the Best Dentists!. If you think you have what it takes you can make a career at the #1 growing clinic in the region, apply by filling out the following form, a member of our administration department will contact you shortly.</p>
			<div class="u-my2">
				<form class="c-form" method="post">

					<div class="o-row o-flex o-flex--justify">
						<div class="c-careers-form-group u-px1">
							<label>Full Name <span class="c-form-mandatory">*</span></label>
							<input class="c-form-input" type="text" name="name">
						</div>
						<div class="c-careers-form-group u-px1">
							<label>Email address <span class="c-form-mandatory">*</span></label>
							<input class="c-form-input" type="email" name="email">
						</div>
					</div>
					<div class="o-row o-flex o-flex--justify">
						<div class="c-careers-form-group u-px1">
							<label>Contact Number</label>
							<input class="c-form-input" type="text" name="name">
						</div>
						<div class="c-careers-form-group u-px1">
							<label>City residence</label>
							<input class="c-form-input" type="text" name="location">
						</div>
					</div>
					<div class="o-row o-flex o-flex--justify">
						<div class="c-careers-form-group u-px1">
							<label>Gender <span class="c-form-mandatory">*</span></label>
							<select class="c-form-input" type="text" name="name">
								<option>--</option>
						    <option>Male</option>
						    <option>Female</option>
							</select>
						</div>
						<div class="c-careers-form-group u-px1">
							<label>Date of birth <span class="c-form-mandatory">*</span></label>
							<input class="c-form-input" type="date" name="name">
						</div>
					</div>
					<div class="o-row o-flex o-flex--justify">
						<div class="c-careers-form-group u-px1">
							<label>Highest education grade? <span class="c-form-mandatory">*</span></label>
							<input class="c-form-input" type="text" name="name">
						</div>
						<div class="c-careers-form-group u-px1">
							<label>Position <span class="c-form-mandatory">*</span></label>
							<select class="c-form-input" type="text" name="name">
								<option>--</option>
						    <option>Dentist (Specialist)</option>
						    <option>Dental Assistant</option>
						    <option>Receptionist & Host</option>
						    <option>International Pecient Coordinator</option>
						    <option>Maintenance Supervisor</option>
						    <option>IT Supervisor</option>
						    <option>Clinic Operation Supervisor</option>
							</select>
						</div>
					</div>
					<label class="u-text-bold">Languajes:</label>
					<div class="o-row o-flex o-flex--justify">
						<div class="c-careers-form-language u-px1 u-mb1">
							<div class="o-flex o-flex--middle">
								<div>
									<label>English</label>
								</div>
								<div class="u-mx1">
									<input class="c-form-input u-mb0" type="text" name="name">
								</div>
								<div>
									<span>%</span>
								</div>
							</div>
						</div>
						<div class="c-careers-form-language u-px1 u-mb1">
							<div class="o-flex o-flex--middle">
								<div>
									<label>Spanish</label>
								</div>
								<div class="u-mx1">
									<input class="c-form-input u-mb0" type="text" name="name">
								</div>
								<div>
									<span>%</span>
								</div>
							</div>
						</div>
						<div class="c-careers-form-language u-px1 u-mb1">
							<div class="o-flex o-flex--middle">
								<div>
									<label>French</label>
								</div>
								<div class="u-mx1">
									<input class="c-form-input u-mb0" type="text" name="name">
								</div>
								<div>
									<span>%</span>
								</div>
							</div>
						</div>
					</div>
					<div class="o-row u-my1 u-px1">
						<label class="u-text-bold">Attach resume:</label>
  					<input type="file" class="c-form-input__file">
					</div>
					<div class="o-row o-flex o-flex--right u-my1 u-px1">
						<button class="c-button c-button__green" type="submit"><b>APPLY NOW</b>︎</button>
					</div>
				</form>
			</div>
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-contact}}
	</aside><!-- #sidebar -->
</section>