---
title: Dental Financing Options
description: Description of Dental Financing Options
---

<section class="o-flex" role="main" id="blog">
	<main id="content" class="o-flex o-page-content" role="main">
		<div class="o-container">
			<h1 class="u-text-blue">Dental Financing Options</h1>
			<div class="o-flex o-flex--middle u-mb2">
				<div class="c-financing-img">
					<img src="https://sanidentalgroup.com/static/img/finance-icons-01.png" alt="">
				</div>
				<div class="c-financing-text u-pl2">
					<p>We work with two trustworthy <b>Finance companies.</b></p>
				</div>
			</div>
			<div class="o-flex o-flex--middle u-mb2">
				<div class="c-financing-img">
					<img src="https://sanidentalgroup.com/static/img/finance-icons-02.png" alt="">
				</div>
				<div class="c-financing-text u-pl2">
					<p><b>To take advantage of this service,</b> call our office or use our contact form.</p>
				</div>
			</div>
			<div class="o-flex o-flex--middle u-mb2">
				<div class="c-financing-img">
					<img src="https://sanidentalgroup.com/static/img/finance-icons-03.png" alt="">
				</div>
				<div class="c-financing-text u-pl2">
					<p>A patient coordinator <b>will contact you to assist you.</b></p>
				</div>
			</div>
			<div class="o-flex o-flex--middle u-mb2">
				<div class="c-financing-img">
					<img src="https://sanidentalgroup.com/static/img/finance-icons-04.png" alt="">
				</div>
				<div class="c-financing-text u-pl2">
					<p>You will be provided with an <b>application form;</b> send it by fax to the Finance Company.</p>
				</div>
			</div>
			<div class="o-flex o-flex--middle u-mb2">
				<div class="c-financing-img">
					<img src="https://sanidentalgroup.com/static/img/finance-icons-05.png" alt="">
				</div>
				<div class="c-financing-text u-pl2">
					<p>This form will provide the <b>Finance Company</b> your interest in a dental credit/loan.</p>
				</div>
			</div>
			<div class="u-mb2">
				<h4 class="u-text-gray">Legal Policy</h4>
				<p class="u-text-gray">Sani Dental Group is not responsible for unauthorized credits, interest rates, or any other fee the financial company may apply when requesting the credit. Any doubt, disconformity, or clarification about the credit loan will be managed directly with the Finance Company. All payments, fees, and credit records must be discussed directly with the Finance Company.</p>
				<p class="u-text-gray">According to the Finance Company requirements, it is responsibility of the patient to verify the dental appointment confirmation in order to confirm with them the initial day of the dental treatment. Dental treatment will be authorized by Sani Dental Group once partially of fully paid by the patient of the Finance Company.</p>
			</div>
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-contact}}
	</aside><!-- #sidebar -->
</section>