---
title: Events
description: Description of Events
---

<section class="o-flex" role="main" id="post">
	<main id="content" class="o-flex o-page-content" role="main">
		<div class="c-container">
			<div class="o-flex">
				<div class="o-container--full u-p0">
					<h1 class="u-text-color-blue">Events and Continuing Education</h1>
				</div>
				<div class="c-events-menu">
					{{> events-menu}}
				</div>
				<div class="c-events-content">
					{{> events-content}}
				</div>
			</div>
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-contact}}
	</aside><!-- #sidebar -->
</section>