---
title: Promotions
description: Description of Promotions
---

<section class="o-flex" role="main" id="post">
	<main id="content" class="o-flex o-page-content" role="main">
		<div class="o-container">
			<h1 class="u-text-blue">Frequently asked questions</h1>
			<h5 class="u-text-aqua">Usefull information to make your Dental work in Mexico much simple.</h5>
			<div class="o-flex u-my2">
				<div class="c-faq-menu">
					<ul class="c-sticky-menu u-pl0 o-flex">
						<li class="u-p1"><a href="">About the Dental Tratment</a></li>
						<li class="u-p1"><a href="">About the Service</a></li>
						<li class="u-p1"><a href="">About the Trip</a></li>
					</ul>
				</div>
				<div class="c-faq-content">
					<div id="">
						<h3 class="u-text-dark-blue">Dental Treatment</h3>
						<p class="u-text-bold">Is there a consultation or diagnosis fee?</p>
						<p>Absolutely not! At Sani Dental Group you can make your appointment and you will be diagnosed from among the best Los Algodones Dentists. Feel free to contact us and setup your appointment today with absolutely no charge. At the end of your diagnosis you will receive treatment options and you can choose the best one for your condition with the help of your dentist.</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-contact}}
	</aside><!-- #sidebar -->
</section>