---
title: Full Review
description: Description of Full Review
---

<section class="o-flex" role="main" id="post">
	<main id="content" class="o-flex o-page-content" role="main">
		<div class="o-container">
			<h1 class="u-text-blue">Sani Dental Reviews</h1>
			<h5 class="u-text-aqua u-text-bold">What you have to say matters to us, take a moment to read some Sani Dental Group Reviews or share your opinion with us.</h5>
			<!-- FULL REVIEW -->
			<div class="c-reviews o-flex u-my2">
				<div class="c-review-full-name o-flex--middle o-flex o-container--full u-p0">
					<p class="u-text-purple u-mb0"><strong>Teresa Lohman</strong> <small class="u-text-gray"> - Illinois, USA / 14 Feb 2018</small></p>
				</div>
			</div>
			<!-- RATING -->
			<div class="o-flex o-flex--justify">
				<!-- CATEGORIA -->
				<div class="c-review-rating-category">
					<div class="c-review-rating o-flex o-flex--justify">
						<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
							<span class="u-mr1 u-text-dark-blue" itemprop="name">Quality</span>
						</div>
						<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
							<div class="c-star-holder">
								<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
								<!-- <span itemprop="bestRating">5</span> -->
							</div>
						</div>
					</div>
				</div>
				<!-- CATEGORIA -->
				<!-- CATEGORIA -->
				<div class="c-review-rating-category">
					<div class="c-review-rating o-flex o-flex--justify">
						<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
							<span class="u-mr1 u-text-dark-blue" itemprop="name">Comfort</span>
						</div>
						<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
							<div class="c-star-holder">
								<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
								<!-- <span itemprop="bestRating">5</span> -->
							</div>
						</div>
					</div>
				</div>
				<!-- CATEGORIA -->
				<!-- CATEGORIA -->
				<div class="c-review-rating-category">
					<div class="c-review-rating o-flex o-flex--justify">
						<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
							<span class="u-mr1 u-text-dark-blue" itemprop="name">Service</span>
						</div>
						<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
							<div class="c-star-holder">
								<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
								<!-- <span itemprop="bestRating">5</span> -->
							</div>
						</div>
					</div>
				</div>
				<!-- CATEGORIA -->
				<!-- CATEGORIA -->
				<div class="c-review-rating-category">
					<div class="c-review-rating o-flex o-flex--justify">
						<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
							<span class="u-mr1 u-text-dark-blue" itemprop="name">Value</span>
						</div>
						<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
							<div class="c-star-holder">
								<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
								<!-- <span itemprop="bestRating">5</span> -->
							</div>
						</div>
					</div>
				</div>
				<!-- CATEGORIA -->
				<!-- CATEGORIA -->
				<div class="c-review-rating-category">
					<div class="c-review-rating o-flex o-flex--justify">
						<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
							<span class="u-mr1 u-text-dark-blue" itemprop="name">Communication</span>
						</div>
						<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
							<div class="c-star-holder">
								<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
								<!-- <span itemprop="bestRating">5</span> -->
							</div>
						</div>
					</div>
				</div>
				<!-- CATEGORIA -->
				<!-- CATEGORIA -->
				<div class="c-review-rating-category">
					<div class="c-review-rating o-flex o-flex--justify">
						<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
							<span class="u-mr1 u-text-dark-blue" itemprop="name">Location</span>
						</div>
						<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
							<div class="c-star-holder">
								<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
								<!-- <span itemprop="bestRating">5</span> -->
							</div>
						</div>
					</div>
				</div>
				<!-- CATEGORIA -->
				<!-- CATEGORIA -->
				<div class="c-review-rating-category">
					<div class="c-review-rating o-flex o-flex--justify">
						<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
							<span class="u-mr1 u-text-dark-blue" itemprop="name">Cleanliness</span>
						</div>
						<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
							<div class="c-star-holder">
								<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
								<!-- <span itemprop="bestRating">5</span> -->
							</div>
						</div>
					</div>
				</div>
				<!-- CATEGORIA -->
				<!-- CATEGORIA -->
				<div class="c-review-rating-category">
					<div class="c-review-rating o-flex o-flex--justify">
						<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
							<span class="u-mr1 u-text-dark-blue" itemprop="name">Satisfaction</span>
						</div>
						<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
							<div class="c-star-holder">
								<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
								<!-- <span itemprop="bestRating">5</span> -->
							</div>
						</div>
					</div>
				</div>
				<!-- CATEGORIA -->
				<!-- CATEGORIA -->
				<div class="c-review-rating-category">
					<div class="c-review-rating o-flex o-flex--justify">
						<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
							<span class="u-mr1 u-text-dark-blue" itemprop="name">Price</span>
						</div>
						<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
							<div class="c-star-holder">
								<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
								<!-- <span itemprop="bestRating">5</span> -->
							</div>
						</div>
					</div>
				</div>
				<!-- CATEGORIA -->
				<hr>
				<p>"This was my second visit to complete my implant procedure. My Doctors and their assistants were amazing. I was alone on the trip and felt very comfortable visiting Mexico by myself. Sani Dental picked me up from my hotel and returned me safely and very politely. I recommend this facility to anyone of my friends and family. I got out of the cold Illinois weather in mid winter and saved a bundle to boot! Thank you Sani Dental!"</p>
			</div>
			<!-- RATING -->
			<!-- FULL REVIEW -->
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-contact}}
	</aside><!-- #sidebar -->
</section>