---
title: Homepage
description: Description of homepage
---

<section class="o-flex" role="main" id="homepage">
	<main id="content" class="o-flex o-page-content" role="main">
		{{> homepage-cover}}
		<div class="o-container">
			<h4 class="u-text-dark-blue">With more than 30 dentists in 3 different locations and 30 years of experience, Sani Dental Group is the most complete dental facility in Northern Mexico.</h4>
			<div class="u-mb2">
				{{> homepage-intro}}
			</div>
			<div class="o-flex">
				{{> treatments-list}}
			</div>
			<div class="o-flex">
				{{> content-homepage}}
			</div>
			<div class="o-flex">
				{{> reviews-homepage}}
			</div>
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-contact}}
	</aside><!-- #sidebar -->
</section>