---
title: Credentials
description: Description of Credentials
---

<section class="o-flex" role="main" id="free-quote">
	<main id="content" class="o-flex o-page-content" role="main">
		<div class="o-container">
			<h1 class="u-text-blue">Credentials</h1>
			<p class="u-mb2">We’re a proud member of different associations which give us the opportunity to build trusts among our patients.</p>
			<div class="o-flex o-flex--middle">
				<div class="c-credentials-img">
					<img src="https://sanidental.s3.amazonaws.com/media_root/uploads/sani-dg/ada.jpg" alt="">
				</div>
				<div class="c-credentials-text">
					<p><b>ADA:</b> The American Dental Association is the leading source of oral health related information for dentists and their patients. When you choose to take your treatment with an ADA Member you´re choosing one that will follow the ADA Principles of Ethics and Code of Professional Conduct and a dentist that is compromised with your health and well-being.</p>
				</div>
				<div class="c-credentials-img">
					<img src="https://sanidental.s3.amazonaws.com/media_root/uploads/sani-dg/mta.jpg" alt="">
				</div>
				<div class="c-credentials-text">
					<p><b>MTA:</b> To address the gap between high quality medical services and a positive international patient experience, the Medical Tourism Association has developed the International Patient Services Certification Training & Certification for Hospitals & Clinics. Which has been granted to Sani Dental Group.</p>
				</div>
				<div class="c-credentials-img">
					<img src="https://sanidental.s3.amazonaws.com/media_root/uploads/sani-dg/bbb.jpg" alt="">
				</div>
				<div class="c-credentials-text">
					<p><b>BBB:</b> A company that carries the internationally recognized Better Business Bureau Mark of Accreditation inherits the added advantage of over 100 years of trusted goodwill. <a class="u-text-pink" href="https://www.bbb.org/mexico/business-reviews/dentists/sani-dental-group-in-mexicali-bn-5765">Click here to view our business profile.</a> </p>
				</div>
				<div class="c-credentials-img">
					<img src="https://sanidental.s3.amazonaws.com/media_root/uploads/sani-dg/cmim.jpg" alt="">
				</div>
				<div class="c-credentials-text">
					<p><b>CMTM:</b> Being certified by the Mexican Council of Medical Tourism means that Sani Dental Group maintains high standards in every aspect of the Medical Experience.</p>
				</div>
			</div>
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-contact}}
	</aside><!-- #sidebar -->
</section>