---
title: Our Facilities
description: Description of Our Facilities
---

<section class="o-flex" role="main" id="blog">
	<main id="content" class="o-flex o-page-content" role="main">
		<div class="o-container u-mb2">
			<h1 class="u-text-blue">Our Facilities</h1>
			<p>Sani Dental Group offers dental care for everyone at almost any budget.</p>
			<div class="c-facilities-img u-mb1">
				<img src="https://sanidentalgroup.com/static/img/sani-alamo.jpg" alt="">
				<div class="c-facilities-caption u-p1">
					<h2 class="u-mb0 u-text-white">SDG Alamo</h2>
				</div>
			</div>
			<h3 class="u-text-dark-blue u-mb0">Sani Dental Group Alamo</h3>
			<p>For most people, Sani Dental Group “Alamo”, main dental center in Los Algodones, is the perfect fit. A large dental clinic with more than 35 dentists and an on-site dental lab makes it clear why Sani Dental Group is the Best Value in Dental Care. When you want it all at a price you can afford, people in the “know” choose Sani Dental Group “Alamo”.</p>
			<div class="o-flex u-mb1">
				<div class="c-facilities-gallery">
					<img src="https://sanidentalgroup.com/static/img/sani-alamo-01.jpg" alt="">
				</div>
				<div class="c-facilities-gallery">
					<img src="https://sanidentalgroup.com/static/img/sani-alamo-02.jpg" alt="">
				</div>
				<div class="c-facilities-gallery">
					<img src="https://sanidentalgroup.com/static/img/sani-alamo-03.jpg" alt="">
				</div>
				<div class="c-facilities-gallery">
					<img src="https://sanidentalgroup.com/static/img/sani-alamo-04.jpg" alt="">
				</div>
			</div>
			<hr class="u-mb3">
			<div class="c-facilities-img u-mb1">
				<img src="https://sanidentalgroup.com/static/img/sani-platinum.jpg" alt="">
				<div class="c-facilities-caption u-p1">
					<h2 class="u-mb0 u-text-white">SDG Platinum</h2>
				</div>
			</div>
			<h3 class="u-text-dark-blue u-mb0">Sani Dental Group Platinum</h3>
			<p>For those who want a little more personal and attentive personal care, in an upscale cutting edge environment, may find that Sani Dental Group “Platinum” offers the perfect blend of luxury and affordability. Sani’s newest facility offers a modern appeal, personal service and the outstanding dental care at surprisingly affordable prices.</p>
			<div class="o-flex u-mb1">
				<div class="c-facilities-gallery">
					<img src="https://sanidentalgroup.com/static/img/sani-platinum-01.jpg" alt="">
				</div>
				<div class="c-facilities-gallery">
					<img src="https://sanidentalgroup.com/static/img/sani-platinum-02.jpg" alt="">
				</div>
				<div class="c-facilities-gallery">
					<img src="https://sanidentalgroup.com/static/img/sani-platinum-03.jpg" alt="">
				</div>
				<div class="c-facilities-gallery">
					<img src="https://sanidentalgroup.com/static/img/sani-platinum-04.jpg" alt="">
				</div>
			</div>
			<hr class="u-mb1">
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-contact}}
	</aside><!-- #sidebar -->
</section>