---
title: Payment Methods
description: Description of Payment Methods
---

<section class="o-flex" role="main" id="free-quote">
	<main id="content" class="o-flex o-page-content" role="main">
		<div class="o-container">
			<h1 class="u-text-blue">Payment Methods</h1>
			<p class="u-mb2">For your convenience we accept different payment methods; please notice that there might be some restrictions for some of them, so we encourage you to read them carefully to make your dental vacation even easier.</p>
			<div class="o-flex o-flex--middle u-mb2">
				<div class="c-payment-methods-img">
					<img src="https://sanidentalgroup.com/static/img/payment-icons-02.png" alt="">
				</div>
				<div class="c-payment-methods-text">
					<h3 class="u-text-dark-blue">Credit/Debit Card</h3>
					<p>We accept cards with the Visa or Master Card logo. With this payment method you will be charged an extra 4% transaction fee.</p>
				</div>
				<div class="c-payment-methods-img">
					<img src="https://sanidentalgroup.com/static/img/payment-icons-01.png" alt="">
				</div>
				<div class="c-payment-methods-text">
					<h3 class="u-text-dark-blue">Cash</h3>
					<p>All transactions are in U.S. Currency</p>
				</div>
				<div class="c-payment-methods-img">
					<img src="https://sanidentalgroup.com/static/img/payment-icons-03.png" alt="">
				</div>
				<div class="c-payment-methods-text">
					<h3 class="u-text-dark-blue">Check</h3>
					<p>(Personal, travelers, cashiers) there is no extra fee with this payment method.</p>
				</div>
				<div class="c-payment-methods-img">
					<img src="https://sanidentalgroup.com/static/img/payment-icons-04.png" alt="">
				</div>
				<div class="c-payment-methods-text">
					<h3 class="u-text-dark-blue">Wire Transfer</h3>
					<p>For further information please email us at info@sanidentalgroup.com or call (928) 257-1138, (928) 257-1307 so you can speak with a dental health advisor for exact details.</p>
				</div>
				<div class="c-payment-methods-img">
					<img src="https://sanidentalgroup.com/static/img/payment-icons-05.png" alt="">
				</div>
				<div class="c-payment-methods-text">
					<h3 class="u-text-dark-blue">Dental Financing</h3>
					<p>Dental Financing options by third party trustworthy finance companies. If you want to take advantage of this service please <a class="u-text-pink" href="dental-financing-options.html"><b>click here.</b></a></p>
				</div>
			</div>
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-contact}}
	</aside><!-- #sidebar -->
</section>