---
title: Post Treatment Care
description: Description of Post Treatment Care
---

<section class="o-flex" role="main" id="blog">
	<main id="content" class="o-flex o-page-content" role="main">
		<div class="o-container u-mb2">
			<h1 class="u-text-blue">Post Treatment Care</h1>
			<p>Taking good care of your treatment can be a major factor in its success. That why at Sani Dental Group we want you to know exactly what to do to take care of your new smile. Take a few minutes to read this important information.</p>
			<p>For your convenience, clicking in the names below will open a PDF file that you can either save on print.</p>
			<div class="u-mb2 o-flex o-flex--middle">
				<div class="c-post-treatment-care-img">
					<img src="http://sanidentalgroup.com/static/img/doc-pdf.svg" alt="">
				</div>
				<div class="c-post-treatment-care-text">
					<h3 class="u-mb0"><a class="u-text-pink" href="">Bridge, Veneers or Crowns</a></h3>
				</div>
			</div>

			<div class="u-mb2 o-flex o-flex--middle">
				<div class="c-post-treatment-care-img">
					<img src="http://sanidentalgroup.com/static/img/doc-pdf.svg" alt="">
				</div>
				<div class="c-post-treatment-care-text">
					<h3 class="u-mb0"><a class="u-text-pink" href="">Dental Implants</a></h3>
				</div>
			</div>

			<div class="u-mb2 o-flex o-flex--middle">
				<div class="c-post-treatment-care-img">
					<img src="http://sanidentalgroup.com/static/img/doc-pdf.svg" alt="">
				</div>
				<div class="c-post-treatment-care-text">
					<h3 class="u-mb0"><a class="u-text-pink" href="">Dentures</a></h3>
				</div>
			</div>
			
			<div class="u-mb2 o-flex o-flex--middle">
				<div class="c-post-treatment-care-img">
					<img src="http://sanidentalgroup.com/static/img/doc-pdf.svg" alt="">
				</div>
				<div class="c-post-treatment-care-text">
					<h3 class="u-mb0"><a class="u-text-pink" href="">Oral Surgery</a></h3>
				</div>
			</div>

			<div class="u-mb2 o-flex o-flex--middle">
				<div class="c-post-treatment-care-img">
					<img src="http://sanidentalgroup.com/static/img/doc-pdf.svg" alt="">
				</div>
				<div class="c-post-treatment-care-text">
					<h3 class="u-mb0"><a class="u-text-pink" href="">Periodontal</a></h3>
				</div>
			</div>	

			<div class="u-mb2 o-flex o-flex--middle">
				<div class="c-post-treatment-care-img">
					<img src="http://sanidentalgroup.com/static/img/doc-pdf.svg" alt="">
				</div>
				<div class="c-post-treatment-care-text">
					<h3 class="u-mb0"><a class="u-text-pink" href="">Whitening</a></h3>
				</div>
			</div>				

			<div class="u-mb2 o-flex o-flex--middle">
				<div class="c-post-treatment-care-img">
					<img src="http://sanidentalgroup.com/static/img/doc-pdf.svg" alt="">
				</div>
				<div class="c-post-treatment-care-text">
					<h3 class="u-mb0"><a class="u-text-pink" href="">Resin Fillings, Cleaning & Mouth Guard</a></h3>
				</div>
			</div>			

			<div class="u-mb2 o-flex o-flex--middle">
				<div class="c-post-treatment-care-img">
					<img src="http://sanidentalgroup.com/static/img/doc-pdf.svg" alt="">
				</div>
				<div class="c-post-treatment-care-text">
					<h3 class="u-mb0"><a class="u-text-pink" href="">Root Canal</a></h3>
				</div>
			</div>

			<div class="u-mb2 o-flex o-flex--middle">
				<div class="c-post-treatment-care-img">
					<img src="http://sanidentalgroup.com/static/img/doc-pdf.svg" alt="">
				</div>
				<div class="c-post-treatment-care-text">
					<h3 class="u-mb0"><a class="u-text-pink" href="">LANAP</a></h3>
				</div>
			</div>

			<div class="u-mb2 o-flex o-flex--middle">
				<div class="c-post-treatment-care-img">
					<img src="http://sanidentalgroup.com/static/img/doc-pdf.svg" alt="">
				</div>
				<div class="c-post-treatment-care-text">
					<h3 class="u-mb0"><a class="u-text-pink" href="">Orthodontic Braces</a></h3>
				</div>
			</div>
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-contact}}
	</aside><!-- #sidebar -->
</section>