---
title: Price List
description: Description of Price List
---

<section class="o-flex" role="main" id="post">
	<main id="content" class="o-flex o-page-content" role="main">
		<div class="o-container">
			<h1 class="u-text-blue">Price List</h1>
			<h5 class="u-text-aqua">Know the cost for your dental implants, dental crowns and much more.</h5>
			<p>All transactions are in US dollars.</p>
			<div class="o-flex">
				<div class="c-price-list-menu">
					{{> price-list-menu}}
				</div>
				<div class="c-price-list-content">
					<!-- PRICE LIST TREATMENT -->
					<div id="">
						<h4 class="u-text-dark-blue">Cleaning, Whitening, Fillings & Extractions</h4>
						<table class="c-price-list-table u-mb2">
							<thead>
								<tr>
									<th>Service</th>
									<th>Cost</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Regular teeth cleaning</td>
									<td>$35</td>
								</tr>
								<tr>
									<td>Deep Cleaning, Scaling & Root Planing (per quadrant)</td>
									<td>$60</td>
								</tr>
								<tr>
									<td>LANAP (per quadrant)</td>
									<td>$190</td>
								</tr>
								<tr>
									<td>Laser Cleaning</td>
									<td>$190</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- PRICE LIST TREATMENT -->
				</div>
			</div>
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-contact}}
	</aside><!-- #sidebar -->
</section>