---
title: Transportation
description: Description of Transportation
---

<section class="o-flex" role="main" id="free-quote">
	<main id="content" class="o-page-content" role="main">
		<div class="o-container">
			<h1 class="u-text-blue">Driving information - Phoenix</h1>
			<h5 class="u-text-aqua">What you have to say matters to us, take a moment to read some Sani Dental Group Reviews or share your opinion with us.</h5>
		<div class="u-my2">
			<h3 class="u-text-dark-blue">Sani Dental Group Shuttle Service</h3>
			<p>To all of our patients, Sani Dental Group offers a free shuttle service. If the service is desired by the traveler, it will only be necessary to call us 48 hours prior your appointment to schedule your vehicle. Sani Dental Group’s shuttle service is available every day from 8:00 am to 8:00 pm.</p>
			<table class="u-my2 c-transportation-table">
				<tr class="c-transportation-table-header">
					<th>PICK UP PLACE</th>
					<th>ONE WAY TRIP</th>
					<th>ROUND TRIP</th>
				</tr>
				<tr>
					<td>Los Algodones International Border</td>
					<td>FREE</td>
					<td>FREE</td>
				</tr>
				<tr>
					<td>Yuma International Airport</td>
					<td>FREE</td>
					<td>FREE</td>
				</tr>
				<tr>
					<td>Border Parking</td>
					<td>FREE</td>
					<td>FREE</td>
				</tr>
				<tr>
					<td>Hacienda Los Algodones Hotel</td>
					<td>FREE</td>
					<td>FREE</td>
				</tr>
				<tr>
					<td>Cielito Lindo Hotel</td>
					<td>FREE</td>
					<td>FREE</td>
				</tr>
			</table>
			<img class="u-mb1" src="https://sanidentalgroup.com/static/img/phoenix-car.jpg" alt="">
			<h3 class="u-text-dark-blue">Driving directions from Phoenix to Los Algodones</h3>
			<p>Take I-10 west, go out on exit 112 to incorporate to highway AZ-85 South towards Yuma, AZ-85 will convert to W Pima Street, incorporate to I-8 west, go out on exit 166 to incorporate on Algodones Rd. or Highway 186 heading south until you reach the border. Welcome to Algodones!</p>
		</div>
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-driving-information}}
	</aside><!-- #sidebar -->
</section>