---
title: Video Review Full
description: Description of Video Review Full
---

<section class="o-flex" role="main" id="post">
	<main id="content" class="o-flex o-page-content" role="main">
		<div class="o-container">
			<h1 class="u-text-blue">Video Reviews</h1>
			<div class="u-my2">
				<div class="u-mb1">
					<div class="o-embed o-embed--16x9 u-mb1">
					  <iframe class="o-embed__item" src="https://www.youtube.com/embed/FAe7NIO1MkA?rel=0&amp;amp;controls=0&amp;amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe> 
					</div> 
				  <div class="">
				    <h4 class="u-text-dark-blue u-mb0">Patrick & Laurie Dittoe</h4>
				    <p class="u-text-gray"><small>Ohio, US - 05 Oct 2017</small></p>
				    <p>"I feel that the care is better here than anything I've received in the States. A lot of what I had done this past visit is correcting things that were done by doctors in the States"</p>
				  </div>
				</div>
				<div class="u-mb2">
					{{> social-media}}
				</div>
				<div class="c-card c-card__blog">
				  <div class="c-card__content">
				    <p><b>Disclaimer:</b> All content shown in this blog and in any linked materials are not intended and should not be construed as medical advice. Any recommendations are based on personal, not professional, opinion only. If the reader or any other person has a medical concern about their dental care and treatments, please contact us directly. For more information please read our <a href="/disclaimer">Disclaimers</a> and <a href="/faq">FAQ</a> pages.</p>
				  </div>
				</div>
			</div>
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-contact}}
	</aside><!-- #sidebar -->
</section>