---
title: Warranty Conditions and Coverage
description: Description of Warranty Conditions and Coverage
---

<section class="o-flex" role="main" id="blog">
	<main id="content" class="o-flex o-page-content" role="main">
		<div class="o-container u-mb2">
			<h1 class="u-text-blue">Warranty Conditions and Coverage</h1>
			<div class="u-my2">
				<h4 class="u-text-pink">WARRANTY BENEFITS: AS A PATIENT</h4>
				<p><b>All porcelain, zirconium or acrylic prosthesis.</b> If these restorations fracture with normal use during a period of two (2) full years from the date of their initial placement, we will replace or repair these at no additional charge.</p>
				<p><b>All gold or metal prosthesis.</b> If our gold or all metal restorations fracture with normal use during a period of five (5) years from the date of initial placement, we will replace or repair them at no additional charge.</p>
				<p><b>Amalgam and resin filling.</b> If our fillings fracture with normal use during a period of four (4) years for amalgam and two (2) years for resin from the date of initial placement, we will replace or repair them at no additional charge.</p>
				<p><b>Dental Implants and surgeries.</b> If your body rejects the procedure during the period of two (2) years, it will be redone or repaired at no additional charge.</p>
				<p><b>Root Canal Therapy.</b> If the root canal fails during the period of two (2) years from the date of the initial procedure, the amount paid for the treatment will be used as a deposit for new treatment and/or for correction of the same. </p>
				</p>
			</div>
			<div class="u-my2">
				<h4 class="u-text-pink">TO KEEP THIS WARRANTY VALID</h4>
				<ul>
					<li>All evaluations and procedures must be done by our medical staff at SDG.</li>
					<li>Must present this document at the event of a claim.</li>
					<li>Have enough time for the treatment to be corrected and/or replaced.</li>
					<li>Maintain your billing account and relationship in good standings at SDG.</li>
					<li>Any repairs and replacements will be done by Sani Dental Group, this warranty is void on work repaired by another office.</li>
					<li>The treatment must be repaired and/or replaced, no cash refund. </li>
				</ul>
			</div>
				<div class="u-my2">
				<h4 class="u-text-pink">WARRANTY CONDITIONS AND COVERAGE</h4>
				<p>This warranty does not cover damage to teeth or Dental Prosthesis caused by accidents, trauma, neglect, or improper use (as grinding, clenching, chewing ice and/or non-food items). All procedures not listed on this document is not under warranty.</p>
			</div>
		</div>
	</main>
	<aside id="sidebar" class="o-flex o-page-sidebar" role="sidebar">
			{{> sidebar-contact}}
	</aside><!-- #sidebar -->
</section>