//---------Search----------//

.c-search{
	display: inline-block;
	button{
		background-color: $white;
		color: $nav-color;
  	padding: rem(15) rem(12);
		&:hover,
		&:focus{
			color: $nav-color;
			background-color: transparent;
		}
	}
	.dropdown-pane{
		width: 100% !important;
		border: none !important;
		border-radius: 0 !important;
    display: none;
    padding: rem(16);
    z-index: 10;
    border: rem(1) solid #cacaca;
    border-radius: rem(3);
    background-color: $white;
    font-size: rem(16);
	}
	@include breakpoint(md){
		button{
			background-color: transparent;
			position: relative;
			color: $navigation-link;
	  	width: 100%;
	  	text-align: left;
	  	cursor: pointer;
	  	&:hover,
			&:focus{
				color: $navigation-link-hover;
				background-color: transparent;
			}
		}
		.dropdown-pane{
			position: absolute;
			top: rem(50);
			left: 0;
	    display: none; 
	    z-index: 10;
		}
	}
}

.c-search:hover{
	.dropdown-pane{
		display: block;
	}
}