//---------Reviews----------//

.c-review-group{
	border-left-width: .375rem;
  border-left-style: solid;
  border-color: $brand-aqua;
  padding-left: .75rem;
  margin-bottom: 2.25rem;
}

.c-review-rating{
	align-items: center;
	justify-content: flex-start;
	margin-bottom: rem(15);
	.c-star-holder{
		width: 100px;
		background: url('https://sanidentalgroup.com/static/img/icons/gray-star.png') repeat-x;
		.c-star-rating{
			background: url('https://sanidentalgroup.com/static/img/icons/star.png') repeat-x;
	    height: 20px;
	    text-indent: 100%;
	    display: inherit;
	    overflow: hidden;
	    white-space: nowrap;
		}
	}
}