///* ========================================================================
//   #STICKY MENU
//   ======================================================================== */

$events-menu-link:        $white;
$events-menu-link-hover:        $brand-dark-blue;


.c-sticky-menu {
  margin: 0;
  list-style: none;
  width: 100%;
  flex: 0 0 100%;
  li {
  	width: 100%;
  	flex: 0 0 100%;
  	&:hover {
			background-color: rgba(62,70,90,.5);
			a{
				color: $events-menu-link;
			}
		}
		a{
			color: $events-menu-link-hover;
		}
		&:active {
			background-color: $events-menu-link-hover;
			a {
				color: $events-menu-link;
			}
		}
  }
}