///* ========================================================================
//   #FOOTER NEWSLETTER
//   ======================================================================== */

$newsletter-link-footer-color:  $brand-pink;

.c-footer-newsletter {
	flex: 0 0 100%;
	max-width: 100%;
	@include breakpoint(md) {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	&-box {
		color: $white;
		&-title {
			color: $white;
			font-size: rem(25);
		}
	}
	&-form {
		&-group {
			width: 100%;
			&-input {
				margin-bottom: rem(5);
			}
		}
	}
}
