//---------Appointments----------//
$btn-next-step:       $brand-light-blue !default;
$btn-appointment-treatments:       $gray-dark !default;


.c-appointment-form{
	flex: 0 0 100%;
	width: 100%;
	&-group{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint (md){
			flex: 0 0 50%;
			width: 50%;
			padding-right: rem(20);
		}
	}
	&-button{
		flex: 0 0 100%;
		width: 100%;
		padding-right: rem(20);
		&__next{
			font-weight: 700;
			color: $white;
			font-size: rem(18);
			text-align: center;
			background-color: $btn-next-step;
			border: 2px solid $btn-next-step;
			border-radius: 3px;
			padding: rem(15);
			transition: background-color .25s ease-out,color .25s ease-out;
			&:hover,
			&:active, 
			&:focus{
				color: $btn-next-step;
				background-color: transparent;
			} 
		}
	}
}

//Boton Treatment Dropdown
.c-appointment-form-treatment{
	&-button{
		color: $white;
		font-size: rem(14);
		text-align: center;
		background-color: $btn-appointment-treatments;
		border: 2px solid $btn-appointment-treatments;
		border-radius: 3px;
		padding: rem(10);
		transition: background-color .25s ease-out,color .25s ease-out;
		&:hover,
		&:active, 
		&:focus{
			color: $btn-appointment-treatments;
			background-color: transparent;
		} 
	}
	&-dropdown{
		background-color: #FFF;
		border: 2px solid $gray-light;
		border-radius: 3px;
		padding: rem(10);
		max-height: 14rem;
    overflow-y: scroll;
	}
	&-group{
		display: inline-block;
		width: 100%;
	}
}