//---------Doctors----------//


//Doctors List
.c-doctors-group{
	&-photo{
		flex: 0 0 100%;
		width: 100%;
		img{
			padding: rem(3);
			border: rem(2) solid $gray-light;
			border-radius: rem(3);
		}
		@include breakpoint (md){
			flex: 0 0 20%;
			width: 20%;
		}
	}
	&-info{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint (md){
			flex: 0 0 80%;
			width: 80%;
			padding-left: rem(20);
			padding0left: rem(20);
		}
	}
	&-diplomas{
		flex: 0 0 50%;
		width: 50%;
		@include breakpoint (md){
			flex: 0 0 25%;
			width: 25%;
		}
	}
}