///* ========================================================================
//   #REVIEWS
//   ======================================================================== */
$reviews-border-color:         $brand-aqua;
$reviews-border-name-color:    $brand-purple;
$reviews-see-more:             $brand-blue;
$reviews-see-more-hover:       $brand-dark-blue;

//Review Single List
.c-review-single {
	border-left-width: rem(7);
  border-left-style: solid;
  border-color: $reviews-border-color;
  &-more{ 
  	color: $reviews-see-more;
  	&:hover {
  		color: $reviews-see-more-hover;
  	}
  }
}


//Review Rating
.c-review-rating {
	&-category {
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint(md) {
			flex: 0 0 50%;
			width: 50%;
		}
	}
	.c-star-holder {
		width: 100px;
		background: url('https://sanidentalgroup.com/static/img/icons/gray-star.png') repeat-x;
		.c-star-rating { 
			background: url('https://sanidentalgroup.com/static/img/icons/star.png') repeat-x;
	    height: 20px;
	    text-indent: 100%;
	    display: inherit;
	    overflow: hidden;
	    white-space: nowrap;
		}
	}
}

//Review Full
.c-review-full {
	&-name {
		border-left-width: rem(5);
	  border-left-style: solid;
	  border-color: $reviews-border-name-color;
	  height: rem(35);
	  font-size: rem(20);
	}
}

//Write Review
.c-review-form {
	&-container {
		flex: 0 0 100%;
		width: 0 0 100%;
		align-items: center;
		@include breakpoint(md){
			flex: 0 0 50%;
			width: 0 0 50%;
		}
	}
}

//Reviews Video
.c-review-video{
	&-embed{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint(md) {
			flex: 0 0 50%;
			width: 50%;
		}
		@include breakpoint(lg) {
			flex: 0 0 50%;
			width: 50%;
		}
	}
	&-info{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint(md) {
			flex: 0 0 50%;
			width: 50%;
			padding: 0 rem(20);
		}
		@include breakpoint(lg) {
			flex: 0 0 50%;
			width: 50%;
		}
	}
}