///* ========================================================================
//   #FOOTER MENU
//   ======================================================================== */

.c-footer-menu {
	flex: 0 0 100%;
	max-width: 100%;
	@include breakpoint (md){
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}	
	&-title {
		color: $white;
		font-size: rem(25);
		@include breakpoint (md){
			font-size: rem(30);
		}
	}
	&-link {
		color: $gray-medium;
		font-weight: 700;
		font-size: rem(22);
		display: block;
		line-height: 1.2;
		&:hover {
			color: $brand-pink;
		}
		@include breakpoint(md) {
			font-size: rem(20);
		}
	}
}