///* ========================================================================
//   #APPOINTMENTS
//   ======================================================================== */
$btn-submit-color:       $brand-gold !default;


.c-appointment-form {
	&-group {
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint (md) {
			flex: 0 0 50%;
			width: 50%;
		}
	}
}

//Treatment Dropdown
.c-appointment-form-treatment {
	&-container {
		background-color: $white;
		border: rem(2) solid $gray-light;
		border-radius: rem(3);
		padding: rem(10);
		max-height: rem(220);
    overflow-y: scroll;
    // display: none;
    @include breakpoint (md){
			width: 50%;
		}
	}
	&-group {
		width: 100%;
	}
}

.c-appointment-form-treatment-button:hover {
	.c-appointment-form-treatment-dropdown {
		display: block !important;
		z-index: 10;
	}
}


//Table Appointments
.c-appointment-table {
	font-size: rem(18);
	tr{
		background-color: $white;
	}
	tr:nth-child(even) {
		background-color: $gray-light;
	}
	td {
		border-right: rem(2) solid $white;
	}
}