///* ========================================================================
//   #NAVIGATION
//   ======================================================================== */

$nav-color: $brand-dark-blue;
$navigation-link:           #ddd !default;
$navigation-link-hover:     #fff !default;
$btn-purple-color:           $brand-purple !default;
$btn-blue-color:             $brand-blue !default;


//Navigation General
.c-navigation {
	background-color: $nav-color;
}

//Mobile Menu
.c-navigation-mobile {
	color: $nav-color;
  align-items: center;
  padding: rem(12) rem(8);
  flex: 0 0 100%;
  width: 100%;
 	&-link {
 		color: $navigation-link;
 		font-size: rem(12);
 		padding-left: rem(3);
 		padding-right: rem(3);
 		text-transform: capitalize;
 	}
	@include breakpoint(md) {
		display: none;
	}
	.c-modal__close {
		position: inherit;
		color: $navigation-link;
	}
}

.c-navigation-mobile-button {
	display: inline-block;
	vertical-align: middle;
	color: $white;
	font-size: rem(12);
	text-transform: capitalize;
	border: 1px solid transparent;
	text-align: center;
	background-color: $brand-pink;
	border: 2px solid $brand-pink;
	border-radius: 3px;
	transition: background-color .25s ease-out,color .25s ease-out;
	&:hover,
	&:active, 
	&:focus{
		color: $brand-pink;
		background-color: transparent;
	} 
}

//Desktop Menu
.c-navigation-menu {
	flex: 0 0 100%; 
	width: 100%;
	justify-content: center;
	align-items: middle;
	margin-bottom: 0;
	list-style: none;
	flex-flow: column wrap;
	@include breakpoint(md) {
		flex-flow: row wrap;
	}
	li{
		flex-flow: column wrap;
		flex: 0 0 100%;
		width: 100%;
		background-color: $white;
		@include breakpoint(md) {
			flex-flow: row wrap;
			flex: 0 0 auto;
			width: auto;
			background-color: $nav-color;
		}
	}
	&-link {
		padding: rem(20) rem(10);
		color: $nav-color;
		width: 100%;
		font-size: rem(16);
		display: inline-block;
		&-hide{
			display: none;
		}
		@include breakpoint (md){
			padding: rem(12) rem(30);
			color: $navigation-link;
			width: auto;
			&-hide{ 
				display: inline-block;
			}
		}
		@include breakpoint(xxl) {
			padding: rem(12) rem(40);
		}
		&:hover {
			color: $navigation-link-hover;
			.c-down {
			  @include breakpoint(md){
					border: solid $navigation-link-hover;
					border-width: 0 rem(1) rem(1) 0;
				  position: absolute;
				  padding: rem(2);
				  top: rem(21);
				  right: rem(10);
				  transform: rotate(45deg);
				}
			}
		}
		&:active {
			background-color: scale-color($nav-color, $lightness: -25%);
		}
	}
}


//Hover Dropdown Submenu
.c-navigation-menu > li:hover {
	.c-dropdown-menu {
		display: block;
	}
}

//Submenus
.c-dropdown {
	position: relative;
	&-menu {
		display: none;
		list-style: none;
		margin-left: 0;
		position: relative;
		@include breakpoint(md) {
			z-index: 1;
			position: absolute;
			top: rem(48);
		}
		&-link {
			background-color: $gray-light !important;
			@include breakpoint(md) {
				background-color: rgba($nav-color, .9) !important;
				a {
					color: $navigation-link !important;
				}
			}
			a {
				width: 100%;
				font-size: rem(16);
				padding: rem(15) rem(40);
				color: $nav-color;
				display: inline-block;
        transition: none;
				&:hover {
					font-size: rem(16);
					background-color: rgba($brand-aqua, .9);
				}
				@include breakpoint(md) {
					width: rem(200);
					line-height: 1;
				}
			}
		}
	}
}

//Character Down Menu
.c-nav-link-down {
	border: solid $nav-color;
  border-width: 0 rem(1) rem(1) 0;
  position: absolute;
  padding: rem(2);
  top: rem(30);
  right: rem(10);
  transform: rotate(45deg);
  @include breakpoint(md) {
		border: solid $navigation-link;
		border-width: 0 rem(1) rem(1) 0;
	  position: absolute;
	  padding: rem(2);
	  top: rem(21);
	  right: rem(10);
	  transform: rotate(45deg);
	}
}