///* ========================================================================
//   #OUR CREDENTIALS
//   ======================================================================== */

.c-credentials {
	&-img {
		flex: 0 0 20%;
		width: 20%;
		@include breakpoint(md) {
			flex: 0 0 15%;
			width: 15%;
			padding: rem(10);
		}
	}
	&-text {
		flex: 0 0 80%;
		width: 80%;
		@include breakpoint(md) {
			flex: 0 0 85%;
			width: 85%;
		}
	}
}