//---------Forms----------//

$color-alert-form:     #cc4b37;

.c-form-input{
  display: block;
  width: 100%;
}

.c-form{
  &-group{
    label{
      margin-bottom: rem(10);
      color: $brand-dark-blue;
    }
    textarea[rows] {
      height: auto;
    }
  }
  &-mandatory{
    color: $color-alert-form;
  }
}