//---------Titles----------//

$title-color-blue:         $brand-blue;
$title-color-dark-blue:    $brand-dark-blue;
$title-color-purple:       $brand-purple;
$title-color-aqua:       	 $brand-aqua;
$title-color-pink:       	 $brand-pink;


//Colors
.c-title{
	&-blue{
		color: $title-color-blue !important;
	}
	&-dark-blue{
		color: $title-color-dark-blue !important;
	}
	&-purple{
		color: $title-color-purple !important;
	}
	&-aqua{
		color: $title-color-aqua !important;
	}
	&-pink{
		color: $title-color-pink !important;
	}
}


//Text Style
.c-title{
	&-italic{
		font-style: italic;
	}
}