//---------Sidebar Contact----------//

$sidebar-info-bg: smart-scale($white, 5%) !default;


.c-sidebar-contact{
	background-color: $brand-aqua;
	color: $white;
	width: 100%;
}

.c-form-phone {
	&--area {
		  flex-basis: 33.333%;
	}
	&--number {
		  flex-basis: 66.667%;
	}
}


