///* ========================================================================
//   #TREATMENTS LIST
//   ======================================================================== */
$btn-free-quote-purple:           			       $brand-purple !default;
$btn-free-quote-blue:                          $brand-blue !default;
$free-quote-sidebar-color:                     $gray-light;
$free-quote-savings-container-color:           $brand-pink;
$free-quote-savings-prices-color:              $brand-aqua;


//Sidebar Free Quote
.c-sidebar-free-quote {
	background-color: $free-quote-sidebar-color;
	width: 100%;
}


//Free Quote Comparisson
.c-free-quote-comparisson {
	flex: 0 0 50%;
	width: 50%;
	&-img {
		flex: 0 0 100%;
		width: 100%;
		text-align: center;
	}
	&:first-child {
		border-right: 1px solid #8a8a8a;
	}
}

//Free Quote Savings
.c-free-quote-savings {
	&-container {
		flex: 0 0 20%;
		width: 20%;
		background-color: $free-quote-savings-container-color;
		border-radius: rem(10) 0 0 rem(10);
		&-text {
			transform: rotate(270deg);
			font-size: rem(20);
		}
	}
	&-prices {
		flex: 0 0 80%;
		width: 80%;
		background-color: $free-quote-savings-prices-color;
		border-radius: 0 rem(10) rem(10) 0;
		&-numbers {
			font-size: rem(30);
		}
		&-total {
			border-right: 1px dotted #fefefe;
		}
	}
}

//Free Quote Button
.c-free-quote-button-form {
	flex: 0 0 50%;
	width: 50%;
	.c-button__purple,
	.c-button__blue {
		width: 100%;
	}
}