///* ========================================================================
//   #CREDENTIALS
//   ======================================================================== */


//Doctors Credentials
.c-credentials{
	&-logos{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint (md){
			flex: 0 0 30%;
			width: 30%;
		}
	}
	&-title{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint (md){
			flex: 0 0 70%;
			width: 70%;
			padding-left: rem(20);
		}
	}
}