footer{
	background-color: $brand-dark-blue;
	background: linear-gradient( 180deg, $brand-dark-blue 61%, scale-color($brand-dark-blue, $lightness: -14%) 39%);
	padding: rem(32) rem(24) rem(0);
	.c-footer{
		max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
		&-cookies{
			flex: 0 0 100%;
			width: 100%;
			justify-content: flex-start;
			padding-bottom: rem(20);
			@include breakpoint (md){
				flex: 0 0 100%;
				max-width: 100%;
				padding: rem(20) 0;
			}
			&-message{
				color: $white;
				font-size: rem(11);
				margin-bottom: 0;
				a{
					color: $white;
					border-bottom: 1px dotted $white;
					&:hover{
						border-bottom-style: solid;
					}
				}
			}	
		}
	}
}

.c-cookie-msg{
	color: $white;
	font-size: rem(11);
	margin-bottom: 0;
	a{
		color: $white;
		border-bottom: 1px dotted $white;
		&:hover{
			border-bottom-style: solid;
		}
	}
}

//Orientation
.u-cwc{
  flex-flow: column wrap;
}

//Medium
@include breakpoint (md){
	footer{
		background: linear-gradient( 90deg, $brand-dark-blue 64%, scale-color($brand-dark-blue, $lightness: -14%) 37%);
		padding-top: rem(64);
		// padding-bottom: rem-calc(64);
	}
}

@include breakpoint (lg){
	footer{
		background: linear-gradient( 90deg, $brand-dark-blue 58%, scale-color($brand-dark-blue, $lightness: -14%) 37%);;
	}
}