///* ========================================================================
//   #SIDEBAR INFORMATION
//   ======================================================================== */

$side-bar-info-bg-color:         $gray-light;

.c-sidebar-info {
	background-color: $side-bar-info-bg-color;
	max-height: rem(1100);
	width: 100%;
	img {
		width: 100%;
	}
	&-content {
		&-tel {
			&-number {
				font-size: rem(24);
			}
		}
		&-email {
			&-link {
				font-size: rem(22);
			}
		}
	}
}