///* ========================================================================
//   #FOOTER
//   ======================================================================== */
$footer-background-color:         $brand-dark-blue;


footer {
	background-color: $footer-background-color;
	background: linear-gradient( 180deg, $footer-background-color 61%, scale-color($footer-background-color, $lightness: -14%) 39%);
	padding: rem(32) rem(24) rem(0);
	.c-footer {
		max-width: 75rem;
		&-cookies {
			padding-bottom: rem(20);
			@include breakpoint(md) {
				padding: rem(20) 0;
			}
			&-message {
				color: $white;
				font-size: rem(11);
				&-link {
					color: $white;
					border-bottom: 1px dotted $white;
					&:hover {
						border-bottom-style: solid;
					}
				}
			}	
		}
	}
}


//Medium
@include breakpoint(md) {
	footer {
		background: linear-gradient( 90deg, $footer-background-color 64%, scale-color($footer-background-color, $lightness: -14%) 37%);
		padding-top: rem(64);
	}
}

@include breakpoint(lg) {
	footer {
		background: linear-gradient( 90deg, $footer-background-color 58%, scale-color($footer-background-color, $lightness: -14%) 37%);;
	}
}