///* ========================================================================
//   #BUTTONS
//   ======================================================================== */

$btn-purple-color:         $brand-purple !default;
$btn-light-blue-color:     $brand-light-blue !default;
$btn-blue-color:           $brand-blue !default;
$btn-pink-color:           $brand-pink !default;
$btn-dark-blue-color:      $brand-dark-blue !default;
$btn-gray-dark-color:      $gray-dark !default;
$btn-gold-color:           $brand-gold !default;
$btn-green-color:           $brand-green !default;


.c-button{
	&__purple {
    @include button-style($white, $btn-purple-color);
  }
  &__blue {
    @include button-style($white, $btn-blue-color);
  }
  &__pink {
    @include button-style($white, $btn-pink-color);
  }
  &__dark-blue {
    @include button-style($white, $btn-dark-blue-color);
  }
  &__light-blue {
    @include button-style($white, $btn-light-blue-color);
  }
  &__gray-dark {
    @include button-style($white, $btn-gray-dark-color);
  }
  &__gold {
    @include button-style($white, $btn-gold-color);
  }
  &__green {
    @include button-style($white, $btn-green-color);
  }
}

//Button Header
.c-button-header {
	text-transform: uppercase;
	@include breakpoint(md) {
		font-size: rem(20);
		&-first {
			margin-right: rem(10);
		}
	}
}

//Button Form Newsletter
.c-button__pink-newsletter {
	text-transform: uppercase;
	width: 100%;
}

//Button Appointment Form
.c-appointment-form-button{
  font-size: rem(20);
}