//---------Navigation----------//

$nav-color: $brand-dark-blue;
$navigation-link:           #ddd !default;
$navigation-link-hover:     #fff !default;


//Navigation General
.c-navigation{
	background-color: $nav-color;
}

//Mobile Menu
.c-navigation-mobile{
	color: $nav-color;
  justify-content: space-between;
  align-items: center;
  padding: rem(8);
  .c-hide{
  	padding: 0;
    appearance: none;
    border: 0;
    border-radius: 3px;
    background: transparent;
    line-height: 1;
  }
	@include breakpoint (md){
		display: none;
	}
	.c-burger{
		display: inline-block;
    font-weight: 700;
    vertical-align: middle;
		&-icon{
			position: relative;
	    display: inline-block;
	    vertical-align: middle;
	    width: rem(20);
	    height: rem(16);
	    cursor: pointer;
	    background-color: $nav-color;
			&::after{
				position: absolute;
		    top: 0;
		    left: 0;
		    display: block;
		    width: 100%;
		    height: rem(2);
		    background: #fefefe;
		    box-shadow: 0 rem(7) 0 #fefefe, 0 rem(14) 0 #fefefe;
		    content: "";
			}
		}
	}
}

//Desktop Menu
.c-navigation-menu{
	flex: 0 0 100%; 
	width: 100%;
	justify-content: center;
	align-items: middle;
	margin-bottom: 0;
	list-style: none;
	flex-flow: column wrap;
	@include breakpoint (md){
		flex-flow: row wrap;
	}
	li{
		flex-flow: column wrap;
		flex: 0 0 100%;
		width: 100%;
		background-color: $white;
		@include breakpoint (md){
			flex-flow: row wrap;
			flex: 0 0 auto;
			width: auto;
			background-color: $nav-color;
		}
	}
	&-link{
		padding: rem(20) rem(10);
		color: $nav-color;
		width: 100%;
		@include breakpoint (md){
			padding: rem(12) rem(30);
			color: $navigation-link;
			width: auto;
		}
		@include breakpoint(lg){
			padding: rem(12) rem(30);
		}
		@include breakpoint(xxl){
			padding: rem(12) rem(40);
		}
		font-size: rem(16);
		display: inline-block;
		&:hover{
			color: $navigation-link-hover;
			.c-down{
			  @include breakpoint(md){
					border: solid $navigation-link-hover;
					border-width: 0 rem(1) rem(1) 0;
				  position: absolute;
				  padding: rem(2);
				  top: rem(21);
				  right: rem(10);
				  transform: rotate(45deg);
				}
			}
		}
		&:active{
			background-color: scale-color($nav-color, $lightness: -25%);
		}
	}
}

//Submenus
.c-dropdown{
	position: relative !important;
	&-menu{
		display: block;
		list-style: none;
		margin-left: 0;
		position: relative;
		@include breakpoint(md){
			z-index: 1 !important;
			position: absolute;
			top: rem(48);
		}
		&-link{
			background-color: $gray-light !important;
			@include breakpoint(md){
				background-color: rgba($nav-color, .9) !important;
				a{
					color: $navigation-link !important;
				}
			}
			a{
				width: 100%;
				font-size: rem(16);
				padding: rem(15) rem(40);
				color: $nav-color;
				display: inline-block;
        transition: none;
				&:hover{
					font-size: rem(16);
					background-color: rgba($brand-aqua, .9);
					font-weight: bold;
				}
				@include breakpoint (md){
					width: rem(200);
					line-height: 1;
				}
			}
		}
	}
}

//Character Down Menu
.c-down{
	border: solid $nav-color;
  border-width: 0 rem(1) rem(1) 0;
  position: absolute;
  padding: rem(2);
  top: rem(30);
  right: rem(10);
  transform: rotate(45deg);
  @include breakpoint(md){
		border: solid $navigation-link;
		border-width: 0 rem(1) rem(1) 0;
	  position: absolute;
	  padding: rem(2);
	  top: rem(21);
	  right: rem(10);
	  transform: rotate(45deg);
	}
}