///* ========================================================================
//   #WHERE TO STAY
//   ======================================================================== */

.c-where-to-stay {
	&-container {
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint(md) {
			flex: 0 0 50%;
			width: 50%;
		}
	}
}