///* ========================================================================
//   #FREE QUOTE
//   ======================================================================== */
$plus-button-color:        $brand-purple;
$minus-button-color:        $brand-blue;
$quantity-button-color-hover:  $gray-medium;
$free-quote-border-color:     $gray-medium;

.c-free-quote {
	&-box { 
		padding: rem(16);
    border: 1px solid $free-quote-border-color;
	}
	&-treatment {
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint(md) {
			flex: 0 0 50%;
			width: 50%;
		}
	}
}

.c-free-quote-quantity {
	flex: 0 0 10%;
	width: 10%;
	input {
		width: rem(32);
		text-align: center;
		border: 1px solid $free-quote-border-color;
	}
}

.c-free-quote-info {
	flex: 0 0 90%;
	width: 90%;
	padding: rem(10) rem(20);
	&-procedure {
		border-bottom: rem(1) solid $free-quote-border-color;
    margin-bottom: rem(4);
    padding-bottom: rem(4);
	}
	&-prices {
		flex: 0 0 100%;
		width: 100%;
	}
}

.c-free-quote-button {
  transition: background-color .25s ease-out,color .25s ease-out;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $free-quote-border-color;
  width: rem(32);
  height: rem(28);
  font-weight: 900;
  &__plus {
  	border-radius: 100% 100% 0 0;
    border-bottom: 0;
    margin: 0;
    color: $plus-button-color;
    &:hover {
    	color: $quantity-button-color-hover;
    }
  }
  &__minus {
  	border-radius: 0 0 100% 100%;
    border-top: 0;
    margin: 0;
    color: $minus-button-color;
    &:hover {
    	color: $quantity-button-color-hover;
    }
  }
}