$nav-color: $brand-dark-blue;
$navigation-link:           #ddd !default;
$navigation-link-hover:     #fff !default;




.c-navigation{
	&__bar{
		background-color: $nav-color;
	}
	&__menu{
		display: flex;
		flex: 0 0 100%;
		width: 100%;
		justify-content: center;
		align-items: middle;
		margin-bottom: 0;
		list-style: none;
		flex-flow: column wrap;
		@include breakpoint (md){
			flex-flow: row wrap;
		}
	}
}
.c-navigation__menu{
	li{
		flex-flow: column wrap;
		flex: 0 0 100%;
		width: 100%;
		background-color: $white;
		@include breakpoint (md){
			flex-flow: row wrap;
			flex: 0 0 auto;
			width: auto;
			background-color: $nav-color;
		}
	}
	&-link{
		padding: rem(12) rem(10);
		color: $nav-color;
		width: 100%;
		@include breakpoint (md){
			padding: rem(12) rem(30);
			color: $navigation-link;
			width: auto;
		}
		@include breakpoint(lg){
			padding: rem(12) rem(30);
		}
		@include breakpoint(xxl){
			padding: rem(12) rem(40);
		}
		font-size: rem(16);
		display: inline-block;
		&:hover{
			color: $navigation-link-hover;
			.c-down{
			  @include breakpoint(md){
					border: solid $navigation-link-hover;
					border-width: 0 rem(1) rem(1) 0;
				  position: absolute;
				  padding: rem(2);
				  top: rem(21);
				  right: rem(10);
				  transform: rotate(45deg);
				}
			}
		}
		&:active{
			background-color: scale-color($brand-dark-blue, $lightness: -25%);
		}
	}
}
.c-dropdown{
	position: relative !important;
	&__menu{
		display: none !important;
		z-index: 1 !important;
		position: absolute;
		top: rem(48);
		background-color: rgba($brand-dark-blue, .9);
		list-style: none;
		margin-left: 0;
		&__link{
			a{
				width: 100%;
				font-size: rem(16);
				padding: rem(15) rem(40);
				color: $navigation-link;
				display: inline-block;
        transition: all .1s ease-in-out;
				&:hover{
					font-size: rem(16);
					background-color: rgba($brand-aqua, .9);
					font-weight: bold;
				}
			}
		}
	}
}

.c-down{
	border: solid $nav-color;
  border-width: 0 rem(1) rem(1) 0;
  position: absolute;
  padding: rem(2);
  top: rem(21);
  right: rem(10);
  transform: rotate(45deg);
  @include breakpoint(md){
		border: solid $navigation-link;
		border-width: 0 rem(1) rem(1) 0;
	  position: absolute;
	  padding: rem(2);
	  top: rem(21);
	  right: rem(10);
	  transform: rotate(45deg);
	}
}
// .c-navigation{
// 	background-color: $nav-color;
// 	&__link{
// 		flex: 0 0 auto;
// 		padding: rem(12) rem(40);
// 		color: $navigation-link;
// 		font-size: rem(16);
// 		&:hover{
// 			color: $navigation-link-hover;
// 		}
// 		&:active{
// 			color: $navigation-link-hover;
// 			background-color: scale-color($brand-dark-blue, $lightness: -25%);
// 		}
// 	}
// 	&__dropdown{
// 		position: relative !important;
// 		i{
// 	    border: solid $navigation-link;
// 	    border-width: 0 rem(2) rem(2) 0;
// 	    position: absolute;
// 	    padding: rem(2);
// 	    top: rem(20);
// 	    right: rem(20);
// 	  }
// 	  .c-down{
// 	    transform: rotate(45deg);
// 	  }
// 	  &:hover{
// 	    color: $navigation-link-hover;
// 	    i{
// 	      border: solid $navigation-link-hover;
// 	      border-width: 0 rem(2) rem(2) 0;
// 	      padding: rem(2);
// 	      position: absolute;
// 	      top: rem(20);
// 	    	right: rem(20);
// 	    }
// 	    .c-down{
// 	      transform: rotate(45deg);
// 	    }
// 		}
// 	}
// 	.c-dropdown__submenu{
// 		z-index: 1 !important;
// 		display: block;
// 		min-width: 15%;
// 		position: absolute;
// 		right: auto;
// 		top: rem(47);
// 		background-color: rgba($brand-dark-blue, .9);
// 		a{
// 			display: block;
// 			color: $white;
// 			padding: rem(20);
// 			&:hover{
// 				background-color: rgba($brand-aqua, .9);
// 				font-weight: bold;
// 				padding: rem(20);
// 			}
// 		}
// 	}
// }