///* ========================================================================
//   #SIDEBAR DRIVING INFORMATION
//   ======================================================================== */

$sidebar-driving-information-bg-color: $white;


.c-sidebar-driving-information{
	background-color: $sidebar-driving-information-bg-color;
	color: $brand-dark-blue;
	width: 100%;
}