//---------Footer Bottom----------//

.c-footer-bottom{
	flex: 0 0 100%;
	width: 100%;
	justify-content: flex-start;
	background-color: scale-color($brand-dark-blue, $lightness: 6%);
	padding: rem(16);
	margin: 0;
	@include breakpoint(md){
		p{
			text-align: left;
			margin-bottom: 0;
		}
	}
	&-box{
		flex: 0 0 100%;
		width: 100%;
		align-items: center;
		@include breakpoint (md){
			padding: 0 rem(100);
		}
	}
	&-year{
		color: $white;
		flex: 0 0 100%;
		width: 100%;
		text-align: center;
		@include breakpoint (md){
			flex: 0 0 50%;
			width: 50%;
			justify-content: flex-start;
		}
	}
	&-social{
		flex: 0 0 100%;
		width: 100%;
		text-align: center;
		@include breakpoint (md){
			flex: 0 0 50%;
			width: 50%;
			justify-content: flex-end;
		}
		&__icons{
			text-align: center;
			img{
				width: rem(40);
				margin-left: rem(4);
			}
			@include breakpoint(md){
				text-align: right;
			}
		}
	}
}