//---------Sidebar Free Quote----------//
$btn-free-quote-purple:           $brand-purple !default;
$btn-free-quote-blue:             $brand-blue !default;


//Sidebar Free Quote
.c-sidebar-free-quote{
	padding: rem(20);
	color: $brand-dark-blue;
	background-color: $gray-light;
	@include breakpoint (md){
		padding: rem(30) rem(80);
	}
	@include breakpoint (lg){
		padding: rem(40) rem(45);
	}
	@include breakpoint (xxl){
		padding: rem(60) rem(80);
	}
	&-button{
		flex: 0 0 100%;
		width: 100%;
	}
}


//Free Quote Comparisson
.c-free-quote-comparisson{
	flex: 0 0 50%;
	width: 50%;
	&-img{
		flex: 0 0 100%;
		width: 100%;
		text-align: center;
	}
	&-price{
		text-align: center;
		span{
			font-size: rem(30);
		}
	}
}
.c-free-quote-comparisson:first-child{
	border-right: 1px solid #8a8a8a;
}

//Free Quote Savings
.c-free-quote-savings{
	&-text{
		flex: 0 0 20%;
		width: 20%;
		background-color: $brand-pink;
		padding: rem(50) rem(10);
		border-radius: rem(10) 0 0 rem(10);
		p{
			transform: rotate(270deg);
			margin-bottom: 0;
			text-transform: uppercase;
			color: $white;
			font-size: rem(20);
			font-weight: 700;
		}
	}
	&-prices{
		flex: 0 0 80%;
		width: 80%;
		background-color: $brand-aqua;
		padding: rem(20) rem(10);
		border-radius: 0 rem(10) rem(10) 0;
		p{
			margin-bottom: 0;
			color: $white;
			font-size: rem(30);
			margin-right: rem(10);
		}
	}
}

.c-free-quote-savings-prices-total{
	border-right: 1px dotted #fefefe;
  margin: 0 rem(10);
}

//Free Quote Button
.c-free-quote-button{
	&__purple{
		flex: 0 0 45%;
		width: 45%;
		font-weight: 700;
		color: $white;
		text-align: center;
		background-color: $btn-free-quote-purple;
		border: 2px solid $btn-free-quote-purple;
		border-radius: 3px;
		padding: .85em 1em;
		transition: background-color .25s ease-out,color .25s ease-out;
		&:hover,
		&:active, 
		&:focus{
			color: $btn-free-quote-purple;
			background-color: transparent;
		} 
	}
	&__blue{
		flex: 0 0 45%;
		width: 45%;
		font-weight: 700;
		color: $white;
		text-align: center;
		background-color: $btn-free-quote-blue;
		border: 2px solid $btn-free-quote-blue;
		border-radius: 3px;
		padding: .85em 1em;
		transition: background-color .25s ease-out,color .25s ease-out;
		&:hover,
		&:active, 
		&:focus{
			color: $btn-free-quote-blue;
			background-color: transparent;
		} 
	}
}