///* ========================================================================
//   #HEADER
//   ======================================================================== */
$header-link: 					$brand-dark-blue;


.c-header{
	&-left {
		align-items: center;
		justify-content: space-between;
		flex-flow: row;
		@include breakpoint(md) {
			flex: 0 0 50%;
			width: 50%;
			justify-content: flex-start;
		}
		@include breakpoint(xl) {
			flex: 0 0 70%;
			width: 70%;
		}
	}
	&-right {
		align-items: center;
		justify-content: space-between;
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint(md) {
			flex: 0 0 50%;
			width: 50%;
			justify-content: flex-end;
		}
		@include breakpoint(xl) {
			flex: 0 0 30%;
			width: 30%;
		}
	}
}

//Phone Header Left
.c-header-phone {
	color: $header-link;
	text-transform: uppercase;
	a {
		color: $header-link;
		@include breakpoint(md) {
			font-size: rem(20);
		}
	}
	&-icon {
		max-width: rem(20);
		@include breakpoint(md) {
			max-width: rem(30);
			margin-left: rem(10);
			margin-right: rem(5);
		}
	}
}