///* ========================================================================
//   #SOCIAL MEDIA SHARE
//   ======================================================================== */

$share-border-color:      $gray-medium;
$share-border-color-hover: $gray-dark;

.c-share {
  ul {
    list-style-type: none;
    @include breakpoint(md) {
      li:first-child {
        margin-left: rem(10);
      }
    }
    li {
    	flex: 0 0 100%;
    	width: 100%;
    	@include breakpoint(md) {
    		flex: 0 0 auto;
    		width: auto;
    	}
    	a {
    		border: 1px solid $share-border-color;
		    color: $share-border-color;
		    border-radius: rem(3);
		    padding: rem(5) rem(10);
		    margin-left: 0;
		    margin-bottom: rem(10);
		    line-height: 1;
        display: flex;
        width: 0 0 100%;
		    @include breakpoint(md) {
		    	margin: 0 rem(5);
		    }
        &:hover {
          color: $share-border-color-hover;
          border-color: $share-border-color-hover;
        }
    	}
    }
  }
  ul::before {
  	content: "Share:";
  	margin-bottom: rem(10);
  	@include breakpoint(md) {
    	margin: 0;
    }
  }
}