///* ========================================================================
//   #AUTHOR
//   ======================================================================== */

$thumbnail-border-color:       #fefefe;

.c-author {
	&-img{
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint(md) {
			flex: 0 0 15%;
			width: 15%;
		}
		img {
			border-radius: 50%;
		}
		&-thumbnail {
			display: inline-block;
	    max-width: 100%;
	    border: 4px solid $thumbnail-border-color;
	    border-radius: 3px;
	    box-shadow: 0 0 0 1px hsla(0,0%,4%,.2);
	    line-height: 0;
		}
	}
	&-info {
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint(md) {
			flex: 0 0 85%;
			width: 85%;
		}
	}
}