//---------Sticky Menu----------//


.c-sticky-menu{
	list-style: none;
	padding-left: 0;
	// position: fixed;
	bottom: auto;
	li{
		flex: 0 0 100%;
		width: 100%;
		padding: rem(10);
		&:hover,
		&:active{
			background-color: rgba(62,70,90,.5);
			a{
				color: $white;
			}
		}
		a{
			color: $brand-dark-blue;
		}
	}
}