//---------Credentials----------//


//Doctors Credentials
.c-credentials{
	&-logos{
		flex: 0 0 100%;
		width: 100%;
		margin-bottom: rem(5);
		@include breakpoint (md){
			flex: 0 0 30%;
			width: 30%;
		}
	}
	&-title{
		flex: 0 0 100%;
		width: 100%;
		padding-left: rem(10);
		padding-right: rem(10);
		
		@include breakpoint (md){
			flex: 0 0 70%;
			width: 70%;
		}
	}
}