//---------Container----------//
.c-container{
	padding-left: rem(16);
	padding-right: rem(16);
  @include breakpoint(md){
  	padding-left: rem(76);
  	padding-right: rem(76);
  	max-width: 75rem;
  }
  @include breakpoint (xl){
  	padding-left: rem(76);
  	padding-right: rem(76);
  	max-width: 65rem;
  }
}