///* ========================================================================
//   #PROMOTIONS
//   ======================================================================== */

$thead-bgc-color: #f8f8f8;

.c-promotion-list {
	&-menu {
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint(md) {
			flex: 0 0 20%;
			width: 20%;
			padding-right: rem(20);
		}
	}
	&-content {
		flex: 0 0 100%;
		width: 100%;
		@include breakpoint(md) {
			flex: 0 0 80%;
			width: 80%;
		}
	}
	// &-table {
	// 	thead {
	// 		background-color: $thead-bgc-color;
	// 	}
	// 	td,th {
	// 		border: rem(2) solid $white;
	// 	}
	// 	tr:nth-child(even) {
	// 		background-color: $gray-light;
	// 	}
	// }
}