// Global
$global-border-color: #cacaca !default;


//Colors
$brand-purple:        #732b74 !default;
$brand-blue:          #034EA2 !default;
$brand-dark-blue:     #3e465a !default;
$brand-aqua:          #1e98a7 !default;
$brand-pink:          #fd226f !default;
$brand-light-blue: 		#24B7DA !default;
$brand-gold: 		      #F98A26 !default;
$brand-green: 		    #78BA00 !default;
$brand-error: 		    #cc4b37 !default;