<div class="c-appointment-form">
	<!-- STEP 1 -->
	<div>
		<h3 class="c-text-color-aqua">Step 1</h3>
		<form class="c-form" action="/api/contact-APIView/" method="post">
			<input type="hidden" id="field_utm_need_help" name="field_utm_need_help" value="">

			<div class="c-card c-card__alert" style="display: none;">
				<p><i class="fi-alert"></i> There are some errors in your form.</p>
			</div>
			<div class="o-flex">
				<div class="c-appointment-form-group c-form-group">
					<label>First Name <span class="c-form-mandatory">*</span></label>
					<input class="c-form-input" type="text" name="name" required>
				</div>
				<div class="c-appointment-form-group  c-form-group">
					<label>Last Name <span class="c-form-mandatory">*</span></label>
					<input class="c-form-input" type="text" name="name" required>
				</div>
			</div>
			<div class="o-flex">
				<div class="c-appointment-form-group c-form-group">
					<label>Email address <span class="c-form-mandatory">*</span></label>
					<input class="c-form-input" type="email" name="email" required>
				</div>
				<div class="c-appointment-form-group c-form-group">
					<label>Where do you come from? <span class="c-form-mandatory">*</span></label>
					<input class="c-form-input" type="text" name="location" required>
				</div>
			</div>
			<div class="o-flex">
				<div class="c-appointment-form-group c-form-group">
					<label>Contact Number <span class="c-form-mandatory">*</span></label>
					<input class="c-form-input" type="text" name="name" required>
				</div>
				<div class="c-appointment-form-group c-form-group">
					<label>Promo Code</label>
					<input class="c-form-input" type="text" name="name">
				</div>
			</div>
			<div class="o-flex o-flex--right c-appointment-form-button u-my1">
				<button class="button c-appointment-form-button__next" type="submit">Next ▶︎</button>
			</div>
		</form>
	</div>
	<!-- STEP 1 -->

	<!-- STEP 2 -->
	<div>
		<h3 class="c-text-color-aqua">Step 2</h3>
		<form class="c-form" action="/api/contact-APIView/" method="post">
			<input type="hidden" id="field_utm_need_help" name="field_utm_need_help" value="">

			<div class="c-card c-card__alert">
				<p><i class="fi-alert"></i> There are some errors in your form.</p>
			</div>
			<div class="o-flex">
				<div class="c-appointment-form-group c-form-group">
					<label>Desired date <span class="c-form-mandatory">*</span></label>
					<input class="c-form-input" type="text" name="name" required>
				</div>
				<div class="c-appointment-form-group  c-form-group">
					<label>Desired time <span class="c-form-mandatory">*</span></label>
					<select class="c-form-input" type="text" name="name" required></select>
				</div>
			</div>
			<div class="c-appointment-form-group c-form-group u-mb1">
				<button class="c-appointment-form-treatment-button">Desired Treatment <span class="c-form-mandatory">*</span></button>
				<ul class="c-appointment-form-treatment-dropdown">
					<li class="o-flex o-flex--left o-flex--middle c-appointment-form-treatment-group">
						<input class="u-mb1" type="checkbox" id="diagnosis" value="Diagnosis">
						<label class="u-mb1" for="diagnosis">Diagnosis</label>
					</li>
					<li class="o-flex o-flex--left o-flex--middle c-appointment-form-treatment-group">
						<input class="u-mb1" type="checkbox" id="diagnosis" value="Diagnosis">
						<label class="u-mb1" for="diagnosis">Diagnosis</label>
					</li>
					<li class="o-flex o-flex--left o-flex--middle c-appointment-form-treatment-group">
						<input class="u-mb1" type="checkbox" id="diagnosis" value="Diagnosis">
						<label class="u-mb1" for="diagnosis">Diagnosis</label>
					</li>
					<li class="o-flex o-flex--left o-flex--middle c-appointment-form-treatment-group">
						<input class="u-mb1" type="checkbox" id="diagnosis" value="Diagnosis">
						<label class="u-mb1" for="diagnosis">Diagnosis</label>
					</li>
					<li class="o-flex o-flex--left o-flex--middle c-appointment-form-treatment-group">
						<input class="u-mb1" type="checkbox" id="diagnosis" value="Diagnosis">
						<label class="u-mb1" for="diagnosis">Diagnosis</label>
					</li>
					<li class="o-flex o-flex--left o-flex--middle c-appointment-form-treatment-group">
						<input class="u-mb1" type="checkbox" id="diagnosis" value="Diagnosis">
						<label class="u-mb1" for="diagnosis">Diagnosis</label>
					</li>
					<li class="o-flex o-flex--left o-flex--middle c-appointment-form-treatment-group">
						<input class="u-mb1" type="checkbox" id="diagnosis" value="Diagnosis">
						<label class="u-mb1" for="diagnosis">Diagnosis</label>
					</li>
					<li class="o-flex o-flex--left o-flex--middle c-appointment-form-treatment-group">
						<input class="u-mb1" type="checkbox" id="diagnosis" value="Diagnosis">
						<label class="u-mb1" for="diagnosis">Diagnosis</label>
					</li>
					<li class="o-flex o-flex--left o-flex--middle c-appointment-form-treatment-group">
						<input class="u-mb1" type="checkbox" id="diagnosis" value="Diagnosis">
						<label class="u-mb1" for="diagnosis">Diagnosis</label>
					</li>
				</ul>
			</div>
			<div class="c-form-group">
				<label>Comments <span class="c-form-mandatory">*</span></label>
				<textarea  class="c-form-input" name="message" cols="30" rows="4" required></textarea>
			</div>
			<div class="o-flex o-flex--justify c-appointment-form-button u-my1">
				<button class="button c-appointment-form-button__next" type="submit">◀︎ Back</button>
				<button class="button c-appointment-form-button__next" type="submit">Next ▶︎</button>
			</div>
		</form>
	</div>
</div>
