<article class="c-blog-list-post">
	<header>
		<figure class="c-blog-img">
			<a href="#">
				<img src="https://sanidental.s3.amazonaws.com/media_root/uploads/blog/.thumbnails/blogbanners_sdgfeb2018.jpg/blogbanners_sdgfeb2018-1000x429.jpg" alt="">
			</a>
		</figure>
		<h2><a href="#" class="u-text-dark-blue">Advantages of Getting Dental Work in Mexico</a></h2>
		<p class="c-blog-date">
			Published on:
			<time id="date" datetime="datetime">Feb. 13, 2018 - </time>
				By: <span class="c-blog-author-name">Shanti Mariana Tapia Ortega</span>
		</p>
	</header>
	<section class="c-post-content">
		<p>The term medical tourism has gained popularity through the years since more and more people started saving money when traveling to receive high-quality medical or dental services outside their country of residence. There are a lot of reasons why these people rather take a flight than go to a local doctor or dentist, and these reasons are mainly the advantages we will talk about in this post.</p>
		<div class="o-flex c-blog-read-more">
			<a href="our-blog-post.html" class="button c-blog-read-more-button">Read More</a>
		</div>
	</section>
</article>