<article class="u-mb2">
	<header>
		<figure class="u-mb1">
			<a href="our-blog-post.html">
				<img src="https://sanidental.s3.amazonaws.com/media_root/uploads/blog/.thumbnails/blogbanners_sdgfeb2018.jpg/blogbanners_sdgfeb2018-1000x429.jpg" alt="">
			</a>
		</figure>
		<h2 class="u-mb0"><a href="#" class="u-text-dark-blue">Advantages of Getting Dental Work in Mexico</a></h2>
		<p class="u-text-gray"><small>
			Published on:
			<time id="date" datetime="datetime">Feb. 13, 2018 - </time>
				By: <span>Shanti Mariana Tapia Ortega</span>
			</small>
		</p>
	</header>
	<section>
		<p>The term medical tourism has gained popularity through the years since more and more people started saving money when traveling to receive high-quality medical or dental services outside their country of residence. There are a lot of reasons why these people rather take a flight than go to a local doctor or dentist, and these reasons are mainly the advantages we will talk about in this post.</p>
		<div class="o-flex o-flex--right">
			<a href="our-blog-post.html" class="c-button c-button__light-blue">Read More</a>
		</div>
	</section>
</article>