<article class="u-mb2">
	<header>
		<figure class="u-mb1">
			<img src="https://sanidental.s3.amazonaws.com/media_root/uploads/blog/.thumbnails/blogbanners_sdgfeb2018.jpg/blogbanners_sdgfeb2018-1000x429.jpg" alt="">
		</figure>
		<h2 class="u-mb0 u-text-dark-blue">Advantages of Getting Dental Work in Mexico</h2>
		<p class="u-text-gray">
			<small>Published on:
			<time id="date" datetime="datetime">Feb. 13, 2018 - </time>
				By: <span>Shanti Mariana Tapia Ortega</span></small>
		</p>
	</header>
	<section>
		<p>The term medical tourism has gained popularity through the years since more and more people started saving money when traveling to receive high-quality medical or dental services outside their country of residence. There are a lot of reasons why these people rather take a flight than go to a local doctor or dentist, and these reasons are mainly the advantages we will talk about in this post.</p>
		<div class="c-share">
			<ul>
				<li>
					<a href="#" target="_blank">Facebook</a>
				</li>
				<li>
					<a href="#" target="_blank">Twitter</a>
				</li>
				<li>
					<a href="#" target="_blank">Google +</a>
				</li>
				<li>
					<a href="#" target="_blank">Linkedin</a>
				</li>
			</ul>
		</div>
	</section>
	
	<div class="o-flex c-row c-author">
		<div class="c-author-img">
			<img class="c-author-img-thumbnail" src="https://sanidental.s3.amazonaws.com/media_root/accounts/photos/.thumbnails/Hola.jpg/Hola-122x122.jpg" alt="" class="thumbnail">
		</div>
		<div class="c-author-info">
			<h5>Shanti Mariana Tapia Ortega</h5>
			<p>
				I'm a content generator at Sani Dental Group and I have a major in Media and Communication Studies. I love to discover new worlds and realities through the wonders of traveling and books.
			</p>
		</div>
	</div>
	<div class="c-card c-card__blog">
	  <div class="c-card__content">
	    <p><b>Disclaimer:</b> All content shown in this blog and in any linked materials are not intended and should not be construed as medical advice. Any recommendations are based on personal, not professional, opinion only. If the reader or any other person has a medical concern about their dental care and treatments, please contact us directly. For more information please read our <a href="/disclaimer">Disclaimers</a> and <a href="/faq">FAQ</a> pages.</p>
	  </div>
	</div>
</article>
