<div class="u-mb2">
	<h4 class="c-text-color-blue">About Sani Dental Group</h4>
	<p>Sani Dental Group is the largest dental group in Los Algodones, Mexico. Established in 1985, it has grown from a 2-chair office to a group with more than 30 dentists with 3 different offices. Our specialists are graduates from the best universities in Mexico, and they have taken courses in several prestigious institutions, including Harvard School of Dental Medicine, International Center of Laser Education and Mega’Gen Implants Factory in Seoul, Korea.</p>
</div>
<div class="u-mb2">
	<h4 class="c-text-color-blue">Dental Tourism</h4>
	<p>Dental Tourism has become the new way for North American and Canadian citizens to take care of their dental needs. One of the biggest advantages and main reasons why people are resorting to dental tourism in Mexico is because of its very affordable prices.</p>
	<p>Sani Dental Group’s team will help you during your complete dental vacation experience. Offering the best dental work in Mexico is just part of our job. You are not only saving thousands of dollars, you’re also traveling, relaxing and creating a brighter future with a new smile.</p>
</div>
<div class="u-mb2">
	<h4 class="c-text-color-blue">Los Algodones Dentists</h4>
	<p>Named for some as the dental capital of the world, Los Algodones, Mexico is known worldwide as the place to travel to get excellent dental work at a very reasonable cost. A calm and colorful town as Los Algodones has a lot to offer to our dental tourists, accommodation, clinics, restaurants, bars, traditional Mexican “curious” and more. Everything within a walking distance in a town made for you.</p>
</div>
<div class="u-mb2">
	<h4 class="c-text-color-blue">What to Expect from Dental Work in Mexico?</h4>
	<p>You'll be amazed by the Sani Dental Group's quality, which is not compromised by the affordable prices. Our dentist received training in the best schools of Mexico and the US, such as Harvard and Loma Linda. You'll be in the best hands. During your visit, you'll have the opportunity to know people from around the world that are also looking for a unique dental experience in Los Algodones, Mexico. So get ready to come back home with not only a new smile but with new friends.</p>
</div>