<!-- DOCTOR -->
<div class="o-flex c-doctors-group">
	<div class="c-doctors-group-photo u-mb1">
		<a href="doctors-single.html"><img src="https://sanidental.s3.amazonaws.com/media_root/doctors/enrique-jimenez.jpg" alt=""></a>
	</div>
	<div class="c-doctors-group-info u-mb1">
		<h2 class="u-mb0"><a class="u-text-color-dark-blue" href="doctors-single.html">D.D.S. Enrique Arturo Jiménez Alvarez</a></h2>
		<p class="u-text-color-gray">Universidad Nacional Autónoma de Guadalajara</p>
		<ul>
			<li>Implantology Diploma</li>
			<li>Masters in Laser Dentistry</li>
		</ul>
	</div>
	<hr>
</div>
<!-- DOCTOR -->