
<h4 class="u-text-blue">Latest News</h4>
<div class="o-flex">
	<div class="c-events-home-img">
		<a href=""><img class="c-events-home-thumb" src="https://sanidentalgroup.com/static/img/golf-tournament-2018-thumb.jpg"></a>
	</div>
	<div class="c-events-home-text">
		<h3 class="u-mb0"><a class="u-text-aqua" href="">3rd Annual Golf Tournament at Mesa Del Sol Golf Club</a></h3>
		<p class="u-text-gray"><small>April 21st - 2018</small></p>
		<p>On April 21st, 2018 the Sani Dental Group team had the chance to be part of the 3rd Annual Golf Tournament at Mesa Del Sol Golf Club in Yuma, AZ. Each year, this tournament is organized by Right Turn for Yuma Veterans...</p>
		<div class="o-flex o-flex--right">
			<a class="u-text-blue" href="">View more...</a>
		</div>
	</div>
</div>
