<div class="c-footer-menu">
  <h3 class="c-footer-menu-title">Our treatments</h3>
  <nav>
    <a class="c-footer-menu-link" href="/treatments/dental-implants-surgery/">Dental Implants</a>
    <a class="c-footer-menu-link" href="/treatments/dentures/">Dentures</a>
    <a class="c-footer-menu-link" href="/treatments/crowns/">Dental Crowns</a>
    <a class="c-footer-menu-link" href="/treatments/full-mouth-restoration/">Full Mouth Restoration</a>
    <a class="c-footer-menu-link" href="/treatments/bone-graft-sinus-lift/">Bone Graft / Sinus Lift</a>
    <a class="c-footer-menu-link" href="/treatments/cosmetics/">Cosmetics</a>
    <a class="c-footer-menu-link" href="/treatments/laser/">Dental Laser</a>
    <a class="c-footer-menu-link u-mb2" href="/treatments/veneers/">Veneers</a>
  </nav>
</div>