<div class="c-footer-menu">
  <h3 class="c-footer-menu-title">Our treatments</h3>
  <nav>
    <a class="c-footer-menu-link" href="treatments.html">Dental Implants</a>
    <a class="c-footer-menu-link" href="treatments.html">Dentures</a>
    <a class="c-footer-menu-link" href="treatments.html">Dental Crowns</a>
    <a class="c-footer-menu-link" href="treatments.html">Full Mouth Restoration</a>
    <a class="c-footer-menu-link" href="treatments.html">Bone Graft / Sinus Lift</a>
    <a class="c-footer-menu-link" href="treatments.html">Cosmetics</a>
    <a class="c-footer-menu-link" href="treatments.html">Dental Laser</a>
    <a class="c-footer-menu-link u-mb2" href="treatments.html">Veneers</a>
  </nav>
</div>