<div class="c-footer-menu">
  <h3>Our treatments</h3>
  <nav>
    <a href="/treatments/dental-implants-surgery/">Dental Implants</a>
    <a href="/treatments/dentures/">Dentures</a>
    <a href="/treatments/crowns/">Dental Crowns</a>
    <a href="/treatments/full-mouth-restoration/">Full Mouth Restoration</a>
    <a href="/treatments/bone-graft-sinus-lift/">Bone Graft / Sinus Lift</a>
    <a href="/treatments/cosmetics/">Cosmetics</a>
    <a href="/treatments/laser/">Dental Laser</a>
    <a href="/treatments/veneers/">Veneers</a>
  </nav>
</div>