 <div class="c-footer-menu">
  <nav>
    <a class="c-footer-menu-link" href="#">About Us</a>
    <a class="c-footer-menu-link" href="#">Careers</a>
    <a class="c-footer-menu-link" href="#">FAQ</a>
    <a class="c-footer-menu-link" href="#">Zygomatic Implants</a>
    <a class="c-footer-menu-link" href="#">Reviews</a>
    <a class="c-footer-menu-link" href="#">Price List</a>
    <a class="c-footer-menu-link" href="#">Privacy Policy</a>
    <a class="c-footer-menu-link" href="#">Appointments</a>
    <a class="c-footer-menu-link" href="#">Terms and Conditions</a>
    <a class="c-footer-menu-link u-mb2" href="#">Warranty</a>
  </nav>
</div>