 <div class="c-footer-menu">
  <nav>
    <a class="c-footer-menu-link" href="about-us.html">About Us</a>
    <a class="c-footer-menu-link" href="#">Careers</a>
    <a class="c-footer-menu-link" href="faq.html">FAQ</a>
    <a class="c-footer-menu-link" href="https://sanidentalgroup.com/landing/zygomatic-implants/">Zygomatic Implants</a>
    <a class="c-footer-menu-link" href="reviews.html">Reviews</a>
    <a class="c-footer-menu-link" href="price-list.html">Price List</a>
    <a class="c-footer-menu-link" href="privacy-policy.html">Privacy Policy</a>
    <a class="c-footer-menu-link" href="appointments.html">Appointments</a>
    <a class="c-footer-menu-link" href="terms-and-conditions.html">Terms and Conditions</a>
    <a class="c-footer-menu-link u-mb2" href="warranty.html">Warranty</a>
  </nav>
</div>