<div class="c-footer-newsletter">
  <div class="c-footer-newsletter-box u-y2">
    <h3>Suscribe to our newsletter!</h3>
    <form class="c-form" action="//sanidentalgroup.us6.list-manage.com/subscribe/post?u=071f2faa922de56113596b9c3&amp;id=f46c3a3dcf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
      <div  class="c-card c-card__alert">
        <p><i class="fi-alert"></i> There are some errors in your form.</p>
      </div>
      <div class="c-form-group c-footer-newsletter-form-group">
        <input class="c-form-input" type="text" name="FNAME" placeholder="Full Name" required pattern="[a-zA-Z]+">
        <span class="c-footer-newsletter-form-error">Full name required.</span>
      </div>
      <div class="c-form-group c-footer-newsletter-form-group">
        <input class="c-form-input" type="email" name="EMAIL" placeholder="Email" required>
        <span class="c-footer-newsletter-form-error">Email required.</span>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input class="c-form-input" type="text" name="b_071f2faa922de56113596b9c3_f46c3a3dcf" tabindex="-1" value="">
      </div>
      <div class="c-footer-newsletter-group">
        <button class="c-button c-button__pink c-button__pink-newsletter" type="submit">Subscribe!</button>
      </div>
      <div class="c-footer-newsletter-form-group">
        <small>We will never spam you or share your email address. 
        By clicking on "Subscribe" you are confirming that you have read, understood, and accept the <a href="#" target="_blank">Terms and Conditions</a> and the <a href="#" target="_blank">Privacy Policy</a>.</small>
      </div>
    </form>
  </div>
</div>