<div class="c-footer-bottom-box o-flex">
  <div class="c-footer-bottom-year">
    <p>&copy;  1985 - 2018 Sani Dental Group</p>
  </div>
  <div class="c-footer-bottom-social">
    <div class="c-footer-bottom-social__icons">
      <a href="https://facebook.com/sanidentalmexico"><img src="https://sanidentalgroup.com/static/img/facebook.svg"></a>
      <a href="https://twitter.com/SaniDentalGroup"><img src="https://sanidentalgroup.com/static/img/twitter.svg"></a>
      <a href="https://www.youtube.com/sanidentalgroup"><img src="https://sanidentalgroup.com/static/img/youtube.svg"></a>
      <a href="https://plus.google.com/102206110701134622150"><img src="https://sanidentalgroup.com/static/img/google-plus.svg"></a>
    </div>
  </div>
</div>