<div class="c-free-quote">
	<div class="c-free-quote-box u-mb4 o-flex">
		<h3 class="u-text-purple">Cleaning, Whitening, Fillings & Extractions</h3>
		<div class="c-free-quote-treatment u-mb1 o-flex o-flex--center o-flex--middle">
			<div class="c-free-quote-quantity">
				<button class="c-free-quote-button c-free-quote-button__plus">+</button>
				<input type="text" value="0" readonly="readonly">
				<button class="c-free-quote-button c-free-quote-button__minus">-</button>
			</div>
			<div class="c-free-quote-info">
				<p class="c-free-quote-info-procedure">Regular teeth cleaning</p>
				<div class="c-free-quote-info-prices o-flex o-flex--justify">
					<p class="u-text-italic u-mb0">US $140</p>
					<p class="u-text-pink u-mb0"><strong>Our price $35</strong></p>
				</div>
			</div>
		</div>
		<div class="c-free-quote-treatment u-mb1 o-flex o-flex--center o-flex--middle">
			<div class="c-free-quote-quantity">
				<button class="c-free-quote-button c-free-quote-button__plus">+</button>
				<input type="text" value="0" readonly="readonly">
				<button class="c-free-quote-button c-free-quote-button__minus">-</button>
			</div>
			<div class="c-free-quote-info">
				<p class="c-free-quote-info-procedure">Deep Cleaning, Scaling & Root Planing (per quadrant)</p>
				<div class="c-free-quote-info-prices o-flex o-flex--justify">
					<p class="u-text-italic u-mb0">US $800</p>
					<p class="u-text-pink u-mb0"><strong>Our price $60</strong></p>
				</div>
			</div>
		</div>
	</div>
</div>