<header>
  <div class="u-px1 u-py1 o-flex">
    <div class="o-flex c-header-left u-mb1">
      <a href="index.html"><img src="//sanidentalgroup.com/static/img/sani-dental-group.png" srcset="//sanidentalgroup.com/static/img/sani-dental-group.png 1x, //sanidentalgroup.com/static/img/sani-dental-group_2x.png 2x" alt=""></a>
      <p class="c-header-phone u-text-center u-text-bold u-mb0">Get Immediate Assistance<img src="./assets/img/icons/phone.svg" class="c-header-phone-icon" alt="Phone ico">
				<a href="tel:8557264337">(855)-726-4337</a>
			</p>
    </div>
    <div class="o-flex c-header-right u-mb1">
      <a href="free-quote.html" class="c-button c-button--primary c-button__purple c-button-header c-button-header-first u-text-bold">Free Quote</a>
      <a href="appointments.html" class="c-button c-button--primary c-button__blue c-button-header u-text-bold">Appointment</a>
    </div>
  </div>
</header>