<header>
	{{> navigation-menu}}
  <div class="c-header o-flex">
    <div class="c-header-left">
      <img src="https://sanidentalgroup.com/static/img/sani-dental-group.png" alt="">
      <p class="c-header-phone u-mb0">Get Immediate Assistance<img src="./assets/img/icons/phone.svg" class="c-header-phone-icon" alt="Phone ico">
				<a href="tel:8557264337">(855)-726-4337</a>
			</p>
    </div>
    <div class="c-header-right">
      <a class="c-button c-button--primary button c-button__purple">Free Quote</a>
      <a class="c-button c-button--primary c-button__blue">Appointment</a>
    </div>
  </div>
</header>