<p class="u-text-aqua u-text-bold">As seen on:</p>
<div class="o-flex o-flex--center">
	<div class="c-intro-img">
		<img src="https://sanidentalgroup.com/static/img/npr-logo.png">
	</div>
	<div class="c-intro-img">
		<img src="https://sanidentalgroup.com/static/img/delta-sky.png">
	</div>
	<div class="c-intro-img">
		<img src="https://sanidentalgroup.com/static/img/yuma-sun.png">
	</div>
	<div class="c-intro-img">
		<img src="https://sanidentalgroup.com/static/img/medical-tourism-magazine.png">
	</div>
</div>