<nav class="c-navigation">

	<div class="c-navigation-mobile o-flex o-flex--justify">
		<a class="c-navigation-mobile-link" href="">Price List</a>
		<a class="c-navigation-mobile-link" href="">Reviews</a>
		<a class="c-navigation-mobile-link" href="">Treatments</a>
		<a class="c-navigation-mobile-link" href="">Doctors</a>
		<button class="c-navigation-mobile-button" type="button">See More</button>
		<!-- <button type="button" class="c-modal__close" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button> -->
	</div>

	<ul class="c-navigation-menu o-flex">
		<li><a href="index.html" class="c-navigation-menu-link">Homepage</a></li>
		<li><a href="" class="c-navigation-menu-link c-dropdown">About Us<i class="c-down" aria-hidden="true"></i></a>
			<ul class="c-dropdown-menu">
    		<li class="c-dropdown-menu-link"><a href="about-us.html">Sani Dental Group</a></li>
    		<li class="c-dropdown-menu-link"><a href="why-us.html">Why us?</a></li>
    		<li class="c-dropdown-menu-link"><a href="our-facilities.html">Our Facilities</a></li>
    		<li class="c-dropdown-menu-link"><a href="events.html">Events</a></li>
    		<li class="c-dropdown-menu-link"><a href="our-credentials.html">Our Credentials</a></li>
    	</ul>
		</li>
		<li><a href="price-list.html" class="c-navigation-menu-link c-navigation-menu-link-hide">Price List</a></li>
		<li><a href="doctors.html" class="c-navigation-menu-link c-navigation-menu-link-hide">Doctors</a></li>
		<li><a href="our-blog.html" class="c-navigation-menu-link">Blog</a></li>
		<li><a href="" class="c-navigation-menu-link c-dropdown c-navigation-menu-link-hide">Treatments<i class="c-down" aria-hidden="true"></i></a>
		<ul class="c-dropdown-menu">
  		<li class="c-dropdown-menu-link"><a href="treatments.html">Dental Implants</a></li>
  		<li class="c-dropdown-menu-link"><a href="">Dentures</a></li>
  		<li class="c-dropdown-menu-link"><a href="">Crowns</a></li>
  		<li class="c-dropdown-menu-link"><a href="">Full Mouth Restoration</a></li>
  		<li class="c-dropdown-menu-link"><a href="">Bone Graft / Sinus Lift</a></li>
  		<li class="c-dropdown-menu-link"><a href="">Cosmetics</a></li>
  		<li class="c-dropdown-menu-link"><a href="">Dental Laser</a></li>
  		<li class="c-dropdown-menu-link"><a href="">Veneers</a></li>
  	</ul>
    </li>
		<li><a href="" class="c-navigation-menu-link c-dropdown">Patient Resources<i class="c-down" aria-hidden="true"></i></a>
			<ul class="c-dropdown-menu">
    		<li class="c-dropdown-menu-link"><a href="promotions.html">Promotions</a></li>
    		<li class="c-dropdown-menu-link"><a href="payment-methods.html">Payment Methods</a></li>
    		<li class="c-dropdown-menu-link"><a href="location-los-algodones.html">Location/Los Algodones</a></li>
    		<li class="c-dropdown-menu-link"><a href="where-to-stay.html">Where to Stay?</a></li>
    		<li class="c-dropdown-menu-link"><a href="transportation.html">Transportation</a></li>
    		<li class="c-dropdown-menu-link"><a href="post-treatment-care.html">Post Treatment Care</a></li>
    		<li class="c-dropdown-menu-link"><a href="dental-financing-options.html">Dental Financing Options</a></li>
    	</ul>
  	</li>
		<li><a href="" class="c-navigation-menu-link c-dropdown c-navigation-menu-link-hide">Reviews<i class="c-down" aria-hidden="true"></i></a>
			<ul class="c-dropdown-menu">
    		<li class="c-dropdown-menu-link"><a href="reviews.html">Reviews</a></li>
    		<li class="c-dropdown-menu-link"><a href="video-reviews.html">Video Reviews</a></li>
    	</ul>
    </li>
		<li><a href="faq.html" class="c-navigation-menu-link">FAQ</a></li>
		<li class="">
			<div class="c-search">
			  <button class="c-search-button c-navigation-menu-link-hide" type="button">
			    Search
			  </button>
			  <div class="c-search-dropdown-pane">
			    <form action="/search/" method="get">
			      <input class="c-form-input u-mb0" type="hidden" name="type" value="">
			      <input class="c-form-input u-mb0" type="search" name="q" placeholder="Type to search…" autocomplete="off">
			    </form>
			  </div>
			</div>
		</li>
	</ul>
</nav>