<nav class="c-navigation">

	<div class="c-navigation-mobile o-flex" data-responsive-toggle="c-navigation-menu" data-hide-for="medium">
		<button class="c-hide" type="button" data-toggle></button>
		<div class="c-burger">
			<button class="c-burger-icon" type="button" data-toggle></button>
		</div>
	</div>

	<ul class="c-navigation-menu o-flex">
		<li><a href="index.html" class="c-navigation-menu-link active">Homepage</a></li>
		<li><a href="" class="c-navigation-menu-link c-dropdown">About Us<i class="c-down" aria-hidden="true"></i></a>
			<ul class="c-dropdown-menu">
    		<li class="c-dropdown-menu-link"><a href="">Sani Dental Group</a></li>
    		<li class="c-dropdown-menu-link"><a href="">Why us?</a></li>
    		<li class="c-dropdown-menu-link"><a href="">Our Facilities</a></li>
    		<li class="c-dropdown-menu-link"><a href="">Our Credentials</a></li>
    	</ul>
		</li>
		<li><a href="" class="c-navigation-menu-link">Price List</a></li>
		<li><a href="" class="c-navigation-menu-link">Doctors</a></li>
		<li><a href="our-blog.html" class="c-navigation-menu-link">Blog</a></li>
		<li><a href="" class="c-navigation-menu-link c-dropdown">Treatments<i class="c-down" aria-hidden="true"></i></a>
		<!-- <ul class="c-dropdown__menu">
  		<li class="c-dropdown__menu__link"><a href="">Dental Implants</a></li>
  		<li class="c-dropdown__menu__link"><a href="">Dentures</a></li>
  		<li class="c-dropdown__menu__link"><a href="">Crowns</a></li>
  		<li class="c-dropdown__menu__link"><a href="">Full Mouth Restoration</a></li>
  		<li class="c-dropdown__menu__link"><a href="">Bone Graft / Sinus Lift</a></li>
  		<li class="c-dropdown__menu__link"><a href="">Cosmetics</a></li>
  		<li class="c-dropdown__menu__link"><a href="">Dental Laser</a></li>
  		<li class="c-dropdown__menu__link"><a href="">Veneers</a></li>
  	</ul> -->
    </li>
		<li><a href="" class="c-navigation-menu-link c-dropdown">Patient Resources<i class="c-down" aria-hidden="true"></i></a>
			<!-- <ul class="c-dropdown__menu">
    		<li class="c-dropdown__menu__link"><a href="">Promotions</a></li>
    		<li class="c-dropdown__menu__link"><a href="">Payment Methods</a></li>
    		<li class="c-dropdown__menu__link"><a href="">Location/Los Algodones</a></li>
    		<li class="c-dropdown__menu__link"><a href="">Where to Stay?</a></li>
    		<li class="c-dropdown__menu__link"><a href="">Transportation</a></li>
    		<li class="c-dropdown__menu__link"><a href="">Post Treatment Care</a></li>
    		<li class="c-dropdown__menu__link"><a href="">Dental Financing Options</a></li>
    	</ul> -->
  	</li>
		<li><a href="" class="c-navigation-menu-link c-dropdown">Reviews<i class="c-down" aria-hidden="true"></i></a>
			<!-- <ul class="c-dropdown__menu">
    		<li class="c-dropdown__menu__link"><a href="">Reviews</a></li>
    		<li class="c-dropdown__menu__link"><a href="">Video Reviews</a></li>
    	</ul> -->
    </li>
		<li><a href="" class="c-navigation-menu-link">FAQ</a></li>
		<li>
			<div class="c__search">
			  <button type="button" data-toggle="search-dropdown">
			    Search
			  </button>
			  <!-- <div class="dropdown-pane" id="search-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
			    <form action="/search/" method="get">
			      <input type="hidden" name="type" value="">
			      <input type="search" name="q" placeholder="Type to search…" autocomplete="off">
			    </form>
			  </div> -->
			</div>
		</li>
	</ul>
</nav>