<div class="u-mb2" id="">
	<h3 class="u-text-dark-blue">One Free Night at Hacienda Los Algodones</h3>
	<p>If your treatment is over <b>$1,000 USD</b> you can have one free night at Hotel Hacienda Los Algodones. Visit the website <a class="u-text-pink" href="http://haciendalosalgodones.com/" rel="nofollow" target="_blank">www.haciendalosalgodones.com</a> to learn more about the hotel and its services.</p>

	<p><b>Promocode:</b> One-Night</p>

	<p><b>Restrictions:</b></p>
	<ul>
		<li>Subject to hotel availability</li>
		<li>It doesn't apply with other promotions or discounts.</li>
	</ul>
</div>
