<div class="o-flex">
	<div class="c-review-video-embed">
	  <iframe width="400" height="225" src="https://www.youtube.com/embed/FAe7NIO1MkA?rel=0&amp;amp;controls=0&amp;amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
	</div>
  <div class="c-review-video-info">
    <h4 class="u-text-dark-blue u-mb0">Patrick & Laurie Dittoe</h4>
    <p class="u-text-gray"><small>Ohio, US, 05 Oct 2017</small></p>
    <p>"I feel that the care is better here than anything I've received in the States. A lot of what I had done this past visit is correcting things that were done by doctors in the States"</p>
    <a class="u-text-blue" href="">View more...</a>
  </div>
</div>