<div class="c-review-group">
	<div class="c-review-single" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="u-text-purple" itemprop="name">Eugene Hagburg</span> 
			<span class="u-text-gray"> - Durango CO, USA</span>
		</div>
		<div class="c-review-rating o-flex o-justify--left">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue u-text-italic" itemprop="name">Overall Score</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
		<p>Amazing Dentistry (…) This was the best dental experience I had in a lifetime…they strive for perfection…and finish the work on a fast schedule. They did 14 crowns (porcelain fused metal crowns) at $180 each….such would cost a minimum of $1500 each in US (…) Sani has its own Lab in town and they work around the clock… so no long term temporaries and multiple visits… get it done with perfection… now!</p>
		<a class="c-review-single-more u-text-bold" href="full-review.html">Read full review...</a>
	</div>
	<div class="c-review-single" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="u-text-purple" itemprop="name">Eugene Hagburg</span> 
			<span class="u-text-gray"> - Durango CO, USA</span>
		</div>
		<div class="c-review-rating o-flex o-justify--left">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue u-text-italic" itemprop="name">Overall Score</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
		<p>Amazing Dentistry (…) This was the best dental experience I had in a lifetime…they strive for perfection…and finish the work on a fast schedule. They did 14 crowns (porcelain fused metal crowns) at $180 each….such would cost a minimum of $1500 each in US (…) Sani has its own Lab in town and they work around the clock… so no long term temporaries and multiple visits… get it done with perfection… now!</p>
		<a class="c-review-single-more u-text-bold" href="full-review.html">Read full review...</a>
	</div>
</div>