<div class="c-credentials-logos">
	<img src="https://sanidentalgroup.com/static/img/certifications.png" alt="">
</div>
<div class="c-credentials-title">
	<h4 class="u-text-dark-blue">Sani's International Credentials and Certified Dentists in our group.</h4>
</div>
<p>After being visited by the Medical Tourism Association staff In 2013 Sani Dental Group was honored with the IPSC "International Patient Services Certification" by the MTA. Our clinic takes great pride on being the first and only Dental Clinic in Mexico with this certification, once again we put ourselved appart being the best option for international patients.</p>
<p>Sani Dental Group is a proud member of the American Dental Association (ADA). We were one of the first dental clinics in Los Algodones to become members of this association.</p>