<div class="c-sidebar-financing u-px2 u-py2">
	<h3 class="u-text-white">IMPORTANT</h3>
	<p>It’s important to have a Pre-estimate before contacting the Finance Company, this way you’ll have an idea of the balance of your dental treatment plan. All the Pre-estimates we send you prior to your visit are informative and must be confirmed by the Diagnosis Doctor after an oral examination. These pre-estimates may be subject to change.</p>
	<form>
		<input type="hidden" id="field_utm_need_help" name="field_utm_need_help" value="">

		<input class="c-form-input" type="text" name="name" placeholder="Full Name" required>

		<!-- ROW -->
		<div class="o-row o-flex o-flex--justify">
			<!-- INPUT -->
			<div class="c-financing-form-container u-px1">
				<input class="c-form-input" type="email" placeholder="Email Address">
			</div>
			<!-- INPUT -->
			<!-- INPUT -->
			<div class="c-financing-form-container u-px1">
				<input class="c-form-input" type="text" placeholder="Phone Number">
			</div>
			<!-- INPUT -->
		</div>
		<!-- ROW -->
		<!-- CHECKBOX -->
		<div class="u-mb1">
			<legend>Please select correct answer</legend>
			<div class="o-flex o-flex--middle">
				<div class="o-flex o-flex--middle u-mr2">
					<input type="radio" class="u-mr1">
	 				<span>US Resident</span>
				</div>
				<div class="o-flex o-flex--middle">
					<input type="radio" class="u-mr1">
	 				<span>Canadian Resident</span>
				</div>
			</div>
		</div>
		<!-- CHECKBOX -->

		<textarea  class="c-form-input u-mb2" name="message" cols="30" rows="3" placeholder="Your message" required></textarea>

		<div class="o-flex o-flex--center">
			<button class="c-button u-radius c-button__pink" type="submit">I Want My Estimate</button>
		</div>

	</form>
</div>
