<div class="c-sidebar-free-quote">
	<p>Add all procedures you're interested in, and send this quote to your e-mail by filling this form below:</p>
	<form class="c-form" action="/api/contact-APIView/" method="post">
		<input type="hidden" id="field_utm_need_help" name="field_utm_need_help" value="">
		<div class="o-flex u-mb2">
			<div class="o-flex o-flex--center c-free-quote-comparisson">
				<div class="c-free-quote-comparisson-img">
					<img src="https://sanidentalgroup.com/static/img/usa-flag.png" alt="">
				</div>
				<p class="c-free-quote-comparisson-price">US price<br>
				<span>$0</span></p>
			</div>
			<div class="o-flex o-flex--center c-free-quote-comparisson">
				<div class="c-free-quote-comparisson-img">
					<img src="https://sanidentalgroup.com/static/img/logo-quote.png" alt="">
				</div>
				<p class="c-free-quote-comparisson-price u-text-color-purple">Our price<br>
				<span>$0</span></p>
			</div>
		</div>
		<div class="o-flex o-flex--center u-mb2">
			<div class="c-free-quote-savings-text o-flex o-flex--center o-flex--middle">
				<p>Savings</p>
			</div>
			<div class="c-free-quote-savings-prices o-flex o-flex--center o-flex--middle">
				<div class="c-free-quote-savings-prices-total">
					<p>$-,---</p>
				</div>
				<div>
					<p>%0</p>
				</div>
			</div>
		</div>
		<div class="alert callout" style="display: none;">
			<p><i class="fi-alert"></i> There are some errors in your form.</p>
		</div>
		<div class="c-form-group">
			<input class="c-form-input" type="text" name="name" placeholder="Full Name" required>
			<input class="c-form-input" type="tel" name="area" maxlength=10 placeholder="Contact Number" required>
			<input class="c-form-input" type="email" name="email" placeholder="Email" required>
		</div>
		<div>
			<p>By clicking on "Submit" you are confirming that you have read, understood, and accept the <a class="u-text-color-pink" href="#">Terms and Conditions</a> and the <a class="u-text-color-pink" href="#">Privacy Policy.</a></p>
		</div>
		<div class="o-flex o-flex--justify c-sidebar-free-quote-button">
			<button class="c-button c-free-quote-button__purple" type="submit">Reset</button>
			<button class="c-button c-free-quote-button__blue" type="submit">Submit</button>
		</div>
	</form>
</div>
