<div class="c-sidebar-contact">
	<h3>Get a Free Estimate by Filling the Form Below</h3>
	<p>Our team of patient coordinators will help you set your appointment and solve all your doubts.</p>
	<form class="c-form" action="/api/contact-APIView/" method="post">
		<input type="hidden" id="field_utm_need_help" name="field_utm_need_help" value="">

		<div class="alert callout" style="display: none;">
			<p><i class="fi-alert"></i> There are some errors in your form.</p>
		</div>
		<div class="c-form-group">
			<input class="c-form-input" type="text" name="name" placeholder="Full Name" required>
			<input class="c-form-input" type="email" name="email" placeholder="Email" required>
		</div>
		<div class="c-sidebar-contact-phone c-form-group">
			<div class="c-sidebar-contact-area">
				<input class="c-form-input" type="tel" name="area" maxlength=3 placeholder="(760)" required>
			</div>
			<div class="c-sidebar-contact-number">
				<input class="c-form-input" type="tel" name="number" id="phone-number-field" maxlength=7 placeholder="123-4567" required>
			</div>
		</div>
		<div class="c-form-group">
			<input class="c-form-input" type="text" name="location" placeholder="Where do you come from? (City)" required>
			<textarea  class="c-form-input" name="message" cols="30" rows="4" placeholder="Your message" required></textarea>
		</div>

		<div class="c-sidebar-contact-button">
			<button class="button c-button__purple" type="submit">I Want My Estimate</button>
		</div>
	</form>
</div>
