<div class="c-sidebar-driving-information u-px2 u-py2">
	<h3 class="u-text-dark-blue">Travel to Los Algodones</h3>
	<p class="u-mb0">From the closest cities by drive or a flight.</p>
	<div class="u-my2">
		<h5 class="u-text-dark-blue u-mb0">Flying</h5>
		<p class="u-mb0"><b class="u-text-pink">San Diego</b> 164.9m</p>
		<p class="u-mb0"><b class="u-text-pink">Phoenix</b> 193.6m</p>
		<p class="u-mb0"><b class="u-text-pink">Yuma</b> 10.9m</p>
	</div>
	<div class="u-my2">
		<h5 class="u-text-dark-blue u-mb0">Driving</h5>
		<p class="u-mb0"><b class="u-text-pink">San Diego</b> 164.9m</p>
		<p class="u-mb0"><b class="u-text-pink">Phoenix</b> 193.6m</p>
		<p class="u-mb0"><b class="u-text-pink">Los Angeles</b> 265m</p>
		<p class="u-mb0"><b class="u-text-pink">Las Vegas</b> 288.6m</p>
	</div>
	<div class="o-flex o-flex--center">
		<a href="where-to-stay.html" class="c-button c-button__gold">Lodging Options</a>
	</div>
</div>