<div class="c-sidebar-info">
	<img src="https://sanidentalgroup.com/static/img/algodones-map-small.jpg" alt="">
	<div class="c-sidebar-info-content o-flex">
		<dl class="c-sidebar-info-content-address">
			<dt class="u-text-color-aqua u-text-style-bold">Alamo</dt>
			<dd>Calle Alamo 287, Los Algodones</dd>
			<dd class="u-mb1">Baja California, Mexico 21970</dd>
			<dt class="u-text-color-aqua u-text-style-bold">Platinum</dt>
			<dd>Calle Tercera 203-D, Los Algodones</dd>
			<dd class="u-mb1">Baja California, Mexico 21970</dd>
		</dl>
		<div class="c-sidebar-info-content-tel u-mb1">
			<h6 class="u-text-color-dark-blue u-mb0">TOLL FREE NUMBER</h6>
			<a class="c-sidebar-info-content-tel-number u-text-color-aqua" href="tel:8557264337">855 SANI-DDS</a>
		</div>
		<dl class="c-sidebar-info-content-tel u-mb1">
			<dt class="u-text-color-pink u-text-style-bold">In The U.S. Call</dt>
			<dl><a class="u-text-color-dark-blue" href="tel:9282571307">(928) 257 1307</a></dl>
			<dt class="u-text-color-pink u-text-style-bold">Tel. Mexico</dt>
			<dl><a class="u-text-color-dark-blue" href="tel:011526585177363">01152 (658) 517 7363</a></dl>
		</dl>
		<div class="c-sidebar-info-content-email u-mb1">
			<a class="u-text-color-pink" href="mailto:info@sanidentalgroup.com?Subject=Hello%20Sani">info@sanidentalgroup.com</a>
		</div>
		<dl class="c-sidebar-info-content-schedule u-mb1">
			<dt class="u-text-style-bold u-mb0">Clinics Operation Hours</dt>
			<dd>Monday - Saturday 9:00 a.m. to 5:00 p.m.</dd>
			<dd class="u-mb1">Sunday  With Appointment Only</dd>
			<dt class="u-text-style-bold u-mb0">Customer Care Operation Hours</dt>
			<dd>Monday - Friday 8:00 a.m. to 6:00 p.m.</dd>
			<dd>Saturday  9:00 a.m. to 4:00 p.m.</dd>
			<dd class="u-mb1">Sunday  Closed</dd>
			<dt class="u-text-style-bold u-mb0">Borderline Hours of Operation</dt>
			<dd>Monday - Sunday 6:00 a.m. to 10:00 p.m.</dd>
		</dl>
	</div>
</div>
