<h1 class="u-text-blue">Dental Implants</h1>
<!-- IMG TEXT -->
<div class="o-flex">
	<div class="c-treatment-single-text">
		<p>Dental implants are the best solution to replace missing teeth. After the procedure is finished, a dental implant will have the same strength and stability as a natural tooth. It will also look and feel like a natural tooth. A dental implant typically lasts for life and requires practically the same amount of care as that of a regular tooth.</p>
		<p>Dental implants have one disadvantage: they are expensive. Because of their high price in the United States, many American dentists just don’t offer them as an option to most patients. However, many Americans have been able to afford this procedure by coming to Los Algodones, Mexico, just 5 minutes from the US border near Yuma, Arizona. In fact, prices for dental implants in Los Algodones are routinely 50% to 80% less than prices for dental implants in the USA and Canada.</p>
		<p>A dental implant is a process that requires at least 2 visits separated by several weeks. It works with a principle called osseointegration, which refers to the natural fusion of the dental implant with the jawbone. It’s because of osseointegration that the dental implant receives the same stability and strength of a natural tooth.</p>
	</div>
	<div class="c-treatment-single-img">
		<img class="c-treatment-single-img-icon" src="https://sanidentalgroup.com/static/img/dental-implant1.jpg" alt="">
	</div>
</div>
<!-- IMG TEXT -->
<p>After qualifying for the procedure, a date for the first surgery is set. On this day, the dental surgeon removes any remains of the destroyed tooth that may still exist. He then inserts the dental implant in the place of the lost tooth and closes the wound. In a few cases, the jawbone might not have enough bone to support the implant. In these cases, the necessary bone will be taken from another part of the body, sometimes the hip, and transplanted into the jawbone. This procedure is called a bone graft or bone grafting. However, it is not necessary in most cases and the surgery to insert the implant will take only an hour or two and will take place at the dentist’s office. If a bone graft is needed, the surgery may take place in a hospital, depending on the amount of bone needed and where it will be taken from.</p>
<h3 class="u-text-dark-blue">Implants supported dentures</h3>
<p>An implant supported denture is used when a person doesn't have any teeth in the jaw, but has enough bone in the jaw to support dental implants. An implant supported denture has special attachments that snap onto attachments on the implants.</p>
<p>Usually, a regular denture made to fit an upper jaw is quite stable on its own and doesn't need the extra support offered by implants. However, you can receive an implant supported denture in either the upper or lower jaw.</p>
<p>The implants are usually placed in the jawbone at the front of the mouth because there tends to be more bone in the front of the jaw than in the back. This is usually true even if teeth have been missing for some time. Once you lose teeth, you begin to lose bone in the area. Also, the front jaw doesn't have many nerves or other structures that could interfere with the placement of implants.
Some people prefer to have fixed (permanent) crown and bridgework in their mouths that can't be removed.</p>

<!-- INTERESTED IN TREATMENT -->
<h5 class="u-mb0 u-text-dark-blue">Are You Interested in This Treatment?</h5>
<div class="o-flex o-flex--middle u-mb2">
	<p class="u-mb0 u-mr1">Check Our Price List to Find Out How Much You Can Save</p>
	<a class="c-button c-button__pink" href="price-list.html"><small><b>Click here</b></small></a>
</div>
<!-- INTERESTED IN TREATMENT -->

<!-- REVIEW TREATMENT -->
<h3 class="u-text-dark-blue">Dental Implants Reviews</h3>
<div class="c-review-single u-pl1 u-mb3" itemscope itemtype="http://schema.org/Review">
	<div itemprop="author" itemscope itemtype="http://schema.org/Person">
		<span class="u-text-purple" itemprop="name">Adrienne Perri</span> 
		<span class="u-text-gray"> - Edmonton, Canada</span>
	</div>
	<div class="c-review-rating o-flex o-justify--left">
		<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
			<span class="u-mr1 u-text-aqua u-text-italic" itemprop="name">Implants</span>
		</div>
		<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
			<div class="c-star-holder">
				<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
				<!-- <span itemprop="bestRating">5</span> -->
			</div>
		</div>
	</div>
	<p>I have used Sani for several years. This is a first class dental office. This visit I had 2 implants put in. It was pretty painless. I like the fact that when you go in, they expat your mouth and have dentists on hand for any type of dental situation needed. Their prices are so far below American dental offices..</p>
	<a class="c-review-single-more u-text-bold" href="full-review.html">Read full review...</a>
</div>
<!-- REVIEW TREATMENT -->