<h4 class="u-text-blue">Which Treatment Are You Looking For?</h4>
<div class="o-flex o-flex--center o-flex--middle u-text-center u-mb1">
	<div class="c-treatment-img u-p1">
		<img  class="c-treatment-img-icon" src="https://sanidentalgroup.com/static/img/icon-implants.svg" alt="">
	</div>
	<div class="c-treatment-text">
		<h4 class="u-text-purple u-text-uppercase u-mb0">Dental Implants</h4>
		<p>Long-term solution for teeth replacement that look and feel like your own teeth.</p>
	</div>
	<div class="c-treatment-button u-text-center u-p1">
		<a href="#" class="c-button c-button__dark-blue">More Info</a>
	</div>
</div>
<div class="o-flex o-flex--center o-flex--middle u-text-center u-mb1">
	<div class="c-treatment-img u-p1">
		<img  class="c-treatment-img-icon" src="https://sanidentalgroup.com/static/img/icon-dentures.svg" alt="">
	</div>
	<div class="c-treatment-text">
		<h4 class="u-text-purple u-text-uppercase u-mb0">Dentures</h4>
		<p>Comfortable, removable, and natural-looking option for missing teeth.</p>
	</div>
	<div class="c-treatment-button u-text-center u-p1">
		<a href="#" class="c-button c-button__dark-blue">More Info</a>
	</div>
</div>