<div class="c-treatments">
	<h4 class="c-title-blue">Which Treatment Are You Looking For?</h4>
	<div class="c-treatment-group">
		<div class="c-treatment-img">
			<img src="https://sanidentalgroup.com/static/img/icon-implants.svg" alt="">
		</div>
		<div class="c-treatment-text">
			<h4 class="c-title-purple">Dental Implants</h4>
			<p>Long-term solution for teeth replacement that look and feel like your own teeth.</p>
		</div>
		<div class="c-treatment-button">
			<a href="#" class="button c-button__dark-blue">More Info</a>
		</div>
	</div>
	<div class="c-treatment-group">
		<div class="c-treatment-img">
			<img src="https://sanidentalgroup.com/static/img/icon-dentures.svg" alt="">
		</div>
		<div class="c-treatment-text">
			<h4 class="c-title-purple">Dentures</h4>
			<p>Comfortable, removable, and natural-looking option for missing teeth.</p>
		</div>
		<div class="c-treatment-button">
			<a href="#" class="button c-button__dark-blue">More Info</a>
		</div>
	</div>
</div>