<div class="o-flex o-flex--justify u-mb2">
	<!-- CATEGORIA -->
	<div class="c-review-rating-category">
		<div class="c-review-rating o-flex o-container--full u-p0 o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Quality</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category">
		<div class="c-review-rating o-flex o-container--full u-p0 o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Comfort</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category">
		<div class="c-review-rating o-flex o-container--full u-p0 o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Service</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category">
		<div class="c-review-rating o-flex o-container--full u-p0 o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Value</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category">
		<div class="c-review-rating o-flex o-container--full u-p0 o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Communication</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category">
		<div class="c-review-rating o-flex o-container--full u-p0 o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Location</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category">
		<div class="c-review-rating o-flex o-container--full u-p0 o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Cleanliness</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category">
		<div class="c-review-rating o-flex o-container--full u-p0 o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Satisfaction</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category">
		<div class="c-review-rating o-flex o-container--full u-p0 o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Price</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<div class="o-flex o-container--full u-p0">
		<form action="">
			<div class="o-flex o-flex--justify">
				<div class="o-flex o-flex--middle c-review-form-container u-mb1">
					<div class="o-container--full u-p0">
						<legend>Was your diagnosis consultation on time (if applicable):</legend>
					</div>
					<div class="u-mr2">
						<input type="radio">
						<label class="u-mb0">Yes</label>
					</div>
					<div class="u-mr2">
						<input type="radio">
						<label class="u-mb0">No</label>
					</div>
				</div>
				<div class="o-flex o-flex--middle c-review-form-container u-mb1">
					<div class="o-container--full u-p0">
						<legend>Were your following appointments on time (if applicable):</legend>
					</div>
					<div class="u-mr2">
						<input type="radio">
						<label class="u-mb0">Yes</label>
					</div>
					<div class="u-mr2">
						<input type="radio">
						<label class="u-mb0">No</label>
					</div>
				</div>
				<hr>
				<div class="c-review-form-container">
					<input class="c-form-input" type="text" placeholder="First Name">
				</div>
				<div class="c-review-form-container">
					<input class="c-form-input" type="text" placeholder="Last Name">
				</div>
				<div class="c-review-form-container">
					<input class="c-form-input" type="email" placeholder="Email">
				</div>
				<div class="c-review-form-container">
					<input class="c-form-input" type="date" placeholder="Date of Appointment">
				</div>
				<div class="c-review-form-container">
					<input class="c-form-input" type="city" placeholder="City of Residence">
				</div>
				<div class="c-review-form-container">
					<input class="c-form-input" type="text" placeholder="Country of Residence">
				</div>
				<div class="c-review-form-container">
					<label>How did you find us?</label>
					<select class="c-form-input">
				    <option>--</option>
				    <option>Acquaintence</option>
				    <option>Advertise</option>
				    <option>Internet Research</option>
				  </select>
				</div>
				<div class="c-review-form-container">
					<label>How did you find us?</label>
					<select class="c-form-input">
				    <option>Sani Dental Group</option>
				    <option>Sani Dental Group Platinum</option>
				    <option>Sani Dental Group Class</option>
				  </select>
				</div>
				<div class="c-form-group o-container--full u-p0">
					<textarea class="c-form-input" name="message" cols="30" rows="5" placeholder="Your message"></textarea>
				</div>
				<div class="o-flex o-container--full u-p0 o-flex--left">
					<button class="c-button c-button__pink" type="submit">Submit Review</button>
				</div>
			</div>
		</form>
	</div>
</div>