<!-- ROW -->
<div class="o-row o-flex o-flex--justify">
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Quality</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 60px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Comfort</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
</div>
<!-- ROW -->
<!-- ROW -->
<div class="o-row o-flex o-flex--justify">
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Service</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Value</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
</div>
<!-- ROW -->
<!-- ROW -->
<div class="o-row o-flex o-flex--justify">
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Communication</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Location</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
</div>
<!-- ROW -->
<!-- ROW -->
<div class="o-row o-flex o-flex--justify">
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Cleanliness</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Satisfaction</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
</div>
<!-- ROW -->
<!-- ROW -->
<div class="o-row o-flex o-flex--justify">
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Price</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
</div>
<!-- ROW -->

<hr>

<!-- ROW -->
<div class="o-row o-flex o-flex--justify">
	<!-- INPUT -->
	<div class="c-review-form-container u-px1">
		<input class="c-form-input" type="text" placeholder="First Name">
	</div>
	<!-- INPUT -->
	<!-- INPUT -->
	<div class="c-review-form-container u-px1">
		<input class="c-form-input" type="text" placeholder="First Name">
	</div>
	<!-- INPUT -->
</div>
<!-- ROW -->