<!-- ROW -->
<div class="o-row o-flex o-flex--justify">
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1 u-mb1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Quality</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 60px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1 u-mb1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Comfort</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
</div>
<!-- ROW -->
<!-- ROW -->
<div class="o-row o-flex o-flex--justify">
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1 u-mb1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Service</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1 u-mb1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Value</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
</div>
<!-- ROW -->
<!-- ROW -->
<div class="o-row o-flex o-flex--justify">
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1 u-mb1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Communication</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1 u-mb1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Location</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
</div>
<!-- ROW -->
<!-- ROW -->
<div class="o-row o-flex o-flex--justify">
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1 u-mb1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Cleanliness</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1 u-mb1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Satisfaction</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
</div>
<!-- ROW -->
<!-- ROW -->
<div class="o-row o-flex o-flex--justify">
	<!-- CATEGORIA -->
	<div class="c-review-rating-category u-px1 u-mb1">
		<div class="c-review-rating o-flex o-flex--justify">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="u-mr1 u-text-dark-blue" itemprop="name">Price</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="c-star-holder">
					<span class="c-star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<!-- CATEGORIA -->
</div>
<!-- ROW -->
<form>
	<!-- ROW -->
	<div class="o-row o-flex o-flex--justify">
		<!-- CHECKBOX -->
		<div class="c-review-rating-category u-px1">
			<legend class="u-mb1">Was your diagnosis consultation on time (if applicable):</legend>
			<div class="o-flex o-flex--middle">
				<div class="o-flex o-flex--middle u-mr2">
					<input type="radio" class="u-mr1">
	 				<span>Yes</span>
				</div>
				<div class="o-flex o-flex--middle">
					<input type="radio" class="u-mr1">
	 				<span>No</span>
				</div>
			</div>
		</div>
		<!-- CHECKBOX -->
			<!-- CHECKBOX -->
		<div class="c-review-rating-category u-px1">
			<legend class="u-mb1">Were your following appointments on time (if applicable):</legend>
			<div class="o-flex o-flex--middle">
				<div class="o-flex o-flex--middle u-mr2">
					<input type="radio" class="u-mr1">
	 				<span>Yes</span>
				</div>
				<div class="o-flex o-flex--middle">
					<input type="radio" class="u-mr1">
	 				<span>No</span>
				</div>
			</div>
		</div>
		<!-- CHECKBOX -->
	</div>
	<!-- ROW -->

	<hr>

	<!-- ROW -->
	<div class="o-row o-flex o-flex--justify">
		<!-- INPUT -->
		<div class="c-review-form-container u-px1">
			<input class="c-form-input" type="text" placeholder="First Name">
		</div>
		<!-- INPUT -->
		<!-- INPUT -->
		<div class="c-review-form-container u-px1">
			<input class="c-form-input" type="text" placeholder="Last Name">
		</div>
		<!-- INPUT -->
	</div>
	<!-- ROW -->
	<!-- ROW -->
	<div class="o-row o-flex o-flex--justify">
		<!-- INPUT -->
		<div class="c-review-form-container u-px1">
			<input class="c-form-input" type="email" placeholder="Email">
		</div>
		<!-- INPUT -->
		<!-- INPUT -->
		<div class="c-review-form-container u-px1">
			<input class="c-form-input" type="date" placeholder="Date of Appointment">
		</div>
		<!-- INPUT -->
	</div>
	<!-- ROW -->
	<!-- ROW -->
	<div class="o-row o-flex o-flex--justify">
		<!-- INPUT -->
		<div class="c-review-form-container u-px1">
			<input class="c-form-input" type="text" placeholder="City of Residence">
		</div>
		<!-- INPUT -->
		<!-- INPUT -->
		<div class="c-review-form-container u-px1">
			<input class="c-form-input" type="text" placeholder="Country of Residence">
		</div>
		<!-- INPUT -->
	</div>
	<!-- ROW -->
	<!-- ROW -->
	<div class="o-row o-flex o-flex--justify">
		<!-- SELECT -->
		<div class="c-review-form-container u-px1">
			<label class="u-mb1">How did you find us?</label>
		  <select class="c-form-input">
		    <option>--</option>
		    <option>Acquaintance</option>
		    <option>Advertising</option>
		    <option>Internet search</option>
		  </select>
		</div>
		<!-- SELECT -->
		<!-- SELECT -->
		<div class="c-review-form-container u-px1">
			<label class="u-mb1">Select your clinic</label>
		  <select class="c-form-input">
		    <option>Sani Dental Group</option>
		    <option>Sani Dental Group Platimun</option>
		  </select>
		</div>
		<!-- SELECT -->
	</div>
	<!-- ROW -->
	<!-- ROW -->
	<div class="o-row">
		<!-- TEXTAREA -->
		<div class="u-px1">
  		<textarea class="c-form-input" rows="10" cols="" placeholder="Your message..."></textarea>
		</div>
		<!-- TEXTAREA -->
	</div>
	<!-- ROW -->
	<!-- ROW -->
	<div class="o-row">
		<!-- BUTTON -->
		<div class="u-px1 u-mb1">
  		<button class="c-button c-button__pink u-text-bold">Submit Review</button>
		</div>
		<!-- BUTTON -->
	</div>
	<!-- ROW -->
</form>