//
// Fonts
// --------------------------------------------------


//Body Font
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800');

//Typography
// --------------------------
$base-font-size:              rem-calc(18) !default;
$body-font-family:            'Lato', sans-serif;
$body-font-color:             $brand-dark-blue;

a{
  text-decoration: none;
  transition: all .3s ease-out;
  &:hover{
    text-decoration: none;
  }
}
body{
  font-weight: 400;
  font-family: $body-font-family;
  // font-size: rem(18);
  color: $body-font-color;
}
p{
  line-height: 1.4;
  margin-bottom: rem(15);
}

b{
  font-weight: 700;
  font-family: $body-font-family;
}

h1,h2,h3,h4,h5,h6{
  font-family: $body-font-family;
  font-weight: bold;
  // margin-bottom: rem(15);
}
button, input, optgroup, select, textarea{
  font-family: $body-font-family;
}




